{% extends "login_frontend/base.html" %}

{% block title %}Emergency codes - {% endblock %}
{% block content %}

{% include "login_frontend/snippets/vulnerable_browser.html" %}

<h3>Emergency codes</h3>

{% if ratelimited %}
{% include "login_frontend/snippets/ratelimited.html" %}
{% endif %}

{% if return_readable %}
	<p><small>After signing in, you'll be redirected to <b>{{ return_readable }}</b>.</small></p>
{% endif %}

<p>You have indicated you don't have your mobile phone available. You have generated emergency codes. Please enter code #{{ emergency_code_id }} below. Timestamp on the emergency codes sheet should be "{{ generated_at }}".</p>

<p>Additional authentication is required, but you have indicated your mobile phone is not available. Was this an error? Go back to <a href="{% url 'login_frontend.authentication_views.authenticate_with_sms' %}?{{ get_params }}">SMS authentication</a>{% if user.strong_authenticator_used %} or <a href="{% url 'login_frontend.authentication_views.authenticate_with_authenticator' %}?{{ get_params }}">Authenticator</a>{% endif %}.</p>

{% if invalid_otp %}
	<div class="alert alert-danger">
		Incorrect code.
	</div>

	<p>If you don't have these codes available anymore, you can't sign in with emergency codes.</p>
{% endif %}

{% if ratelimited %}
<span class="onlybefore" data-timestamp="{{ ratelimit_wait_until }}"><i class="fa fa-spinner"></i> Please wait. Sign-in form will appear {% include "snippets/timestamp.html" with timestamp=ratelimit_wait_until %}.</span>
<span class="onlyafter hidden" data-timestamp="{{ ratelimit_wait_until }}">
{% endif %}

<form role="form" name="loginform" method="POST" action="{% url 'login_frontend.authentication_views.authenticate_with_emergency' %}?{{ get_params }}">
{% csrf_token %}
<div class="form-group control-group">
	<label for="id_otp" control-label">Emergency code #{{ emergency_code_id }}</label>
	<input class="form-control autofocus" id="id_otp" placeholder="Emergency code" name="otp" type="text" autocomplete="off" />
</div>
<div class="form-group">
	<button class="btn btn-primary" type="submit">Sign in</button>
</div>
<input type="hidden" name="timing_data" value="" id="timing_data">
</form>

{% if ratelimited %}
</span>
{% endif %}

{% endblock %}
