{% extends "login_frontend/base.html" %}

{% block title %}URL - {% endblock %}

{% block content %}

<div class="row">
<div class="col-md-8 col-centered">

<h3>URL</h3>

{% if ratelimited %}
{% include "login_frontend/snippets/ratelimited.html" %}
{% elif invalid_request %}
	<div class="alert alert-danger">
		<i class="fa fa-exclamation-triangle"></i>
		Invalid request. Did you open this page on the same browser you started the authentication process?
	</div>

	<p>This link only works on the browser you used to start sign-in process. If your phone opens it on different
	browser - or you didn't start log-in process in this phone - you can't use the link. You should manually
	enter one-time code instead.</p>
{% elif invalid_sid %}
	<div class="alert alert-danger">
		<i class="fa fa-exclamation-triangle"></i>
		Unique code for this URL expired already.
	</div>

	<p>The link is only valid for 15 minutes, and only on the same browser where you started the sign-in process.</p>
{% elif wrong_browser %}
	<div class="alert alert-danger">
		<i class="fa fa-exclamation-triangle"></i>
		This is not the browser you used to start the sign-in process.
	</div>
	<p>This link only works on the browser you used to start sign-in process. If your phone opens it on different
	browser - or you didn't start log-in process in this phone - you can't use the link. You should manually
	enter one-time code instead.</p>
{% elif invalid_auth_state %}
	<div class="alert alert-danger">
		<i class="fa fa-exclamation-triangle"></i>
		You are not signed in properly. Did you open this page on the same browser you started the authentication process?
	</div>
	<p>This link only works on the browser you used to start sign-in process. If your phone opens it on different
	browser - or you didn't start log-in process in this phone - you can't use the link. You should manually
	enter one-time code instead.</p>
{% endif %}
</div>
</div>

{% endblock %}
