{% extends "login_frontend/base.html" %}

{% block content %}

{% include "snippets/back_url.html" %}

<p>Additional authentication is required, but you have indicated your mobile phone is not available. <a href="#TODO">Was this an error?</a></p>

<p>If you have emergency codes with you, you can login with those.

{% if invalid_otp %}
	<div class="alert alert-danger">
		Incorrect code. {{ invalid_otp }}
	</div>
{% endif %}
{% if message %}
	<div class="alert alert-warning">
               {{ message }}
	</div>
{% endif %}

{% endblock %}
