{% extends "login_frontend/base.html" %}

{% block title %}Authenticator - {% endblock %}
{% block header %}
<script src="/static/js/otp.js" type="text/javascript"></script>
{% endblock %}


{% block content %}

<div class="row">
<div class="col-md-8 col-centered">

<h3>Authenticator</h3>
{% if return_readable %}
<p><small>After signing in, you'll be redirected to <b>{{ return_readable }}</b>.</small></p>
{% endif %}
{% if authenticator_not_used %}
	<div class="alert alert-info">
		You have Authenticator generated {% include "snippets/timestamp.html" with timestamp=authenticator_generated %}, but you have not used current configuration.
		The name of your current configuration is "{{ authenticator_id }}".
		If you don't have the newest configuration on your phone, use <a href="{% url 'login_frontend.views.authenticate_with_sms' %}?{{ get_params }}" class="alert-link">SMS authentication instead</a>.
	</div>
{% endif %}
{% if invalid_otp %}
	<div class="alert alert-danger">
	<i class="fa fa-exclamation-triangle"></i> {{ invalid_otp }}
	</div>

	<p>You're authenticating with Authenticator password. 
	It is a {% if is_invalid_otp %}<b>6-digit code</b>{% else %}6-digit code{% endif %} from Authenticator app.
        The name of that code should be "{{ authenticator_id }}".
        If this does not match and/or the code is not working, you can <a href="{% url 'login_frontend.views.authenticate_with_sms' %}?{{ get_params }}">sign in with SMS</a>.</p>
{% endif %}

{% if message %}
	<div class="alert alert-warning">
               {{ message }}
	</div>
{% endif %}

{% if skips_available > 0 %}
	<p>If you are in hurry, you can skip configuring this up to {{ skips_available }} time{{ skips_available|pluralize }}. Configuration only takes
	a few moments.</p>
	<form class="form" role="form" name="skip_form" method="POST" action="?{{ get_params }}">
	{% csrf_token %}
	<input type="hidden" name="skip" value="1">
	<button type="submit" class="btn btn-info">Skip until tomorrow</button>
	</form>
{% endif %}

<form class="form" role="form" name="loginform" method="POST" action="{% url 'login_frontend.views.authenticate_with_authenticator' %}?{{ get_params }}">
  {% csrf_token %}
  {% include 'login_frontend/snippets/otp_input.html' %}
  {% include 'login_frontend/snippets/browser_name_input.html' %}
  <div class="form-group">
       <button class="btn btn-primary" type="submit">Sign in <span class="glyphicon glyphicon-remove-circle"></span></button>
  </div>
{% include 'login_frontend/snippets/remember_me.html' %}
<input type="hidden" name="timing_data" value="" id="timing_data">
</form>

<p><small>Problems with Authenticator app? <a href="{% url 'login_frontend.views.authenticate_with_sms' %}?{{ get_params }}">Authenticate with SMS</a>.</small></p>
</div>
</div>
{% endblock %}
