{% extends "login_frontend/base.html" %}

{% block title %}Password - {% endblock %}
{% block content %}
{% include "login_frontend/snippets/vulnerable_browser.html" %}

{% include 'login_frontend/snippets/main_infobox.html' %}
{% if forced_sign_out %}
	<div class="alert alert-warning">
		<i class="fa fa-exclamation-triangle"></i> You - or administrator - remotely signed out this browser. Please sign in again.
	</div>
{% endif %}

{% if enable_cookies %}
	<div class="alert alert-danger">
		Please enable cookies. You're not able to sign in without properly working cookies.
	</div>
{% endif %}
{% if signout_reason %}
	<div class="alert alert-warning">
		{% if signout_reason == "password_expired" %}
			You were automatically signed out, because your password expired. Please contact <a href="{{ admin_email }}">{{ admin_email }}</a> to have this fixed.
		{% elif signout_reason == "password_changed" %}
			Your password has been changed. Please sign in again. If you don't know or remember your new password, please contact <a href="{{ admin_email }}">{{ admin_email }}</a>.
		{% else %}
			No sign out reason specified (code: {{ signout_reason }}).
		{% endif %}
	</div>
{% endif %}
{% if invalid_username or invalid_password %}
	<div class="alert alert-danger">
		<i class="fa fa-exclamation-triangle"></i>
		{% if invalid_username %}
			You entered invalid <b>username</b>.
		{% else %}
			{% if password_expired %}
				Your password <b>expired</b>. You can't sign in. You have to contact IT team to have this fixed.
			{% else %}
				You entered incorrect <b>password</b>.  {% if password_changed %}It was changed {% include "snippets/timestamp.html" with timestamp=password_changed %}.{% endif %}
			{%endif %}
		{%endif %}

		{% if is_otp %}This is your LDAP password, not one-time password from Authenticator or SMS.{% endif %}
	</div>
{% endif %}

{% if message %}
	<div class="alert alert-warning">
		{{ message }}
	</div>
{% endif %}

{% if basic_only %}
<div class="alert alert-success">
Additional authentication is required. Please verify your identity with your password.
</div>
{% endif %}


<div class="row">
<div class="col-md-8 col-centered">
{% if return_readable %}
<p><small>After signing in, you'll be redirected to <b>{{ return_readable }}</b>.</small></p>
{% endif %}
<form class="form-horizontal" role="form" name="loginform" method="POST" action="{% url 'login_frontend.authentication_views.authenticate_with_password' %}?{{ get_params }}">
	{% csrf_token %}
	<div class="form-group">
		<label for="id_username" class="col-sm-3 control-label">Username</label>
		<div class="col-sm-8">
{% if basic_only %}
			<span class="tooltip-link" title="Not {{ first_name }}? Click 'Sign out' to change user">{{ username }}</span>
{% else %}
			{% if username_mapped %}<span class="tooltip-link" title="This changed? It was automatically mapped to your username.">{% endif %}<input id="id_username" name="username" type="text" class="track_content {% if not invalid_password %}autofocus{% endif %} form-control" {% if try_username %}value="{{ try_username }}"{% endif %}>{% if username_mapped %}</span>{% endif %}
{% endif %}
			<span id="id_username_icon"></span>
		</div>
	</div>
	<div class="form-group">
		<label for="id_password" class="col-sm-3 control-label">Password</label>
		<div class="col-sm-8">
			<input id="id_password" name="password" type="password" class="track_content {% if basic_only or invalid_password %}autofocus{% endif %} form-control">
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-8">
			<button class="btn btn-primary" type="submit" id="id_submit">Sign in</button>
		</div>
	</div>

{% if not emulate_legacy %}
{% include 'login_frontend/snippets/remember_me.html' %}
{% endif %}

<input type="hidden" name="timing_data" value="" id="timing_data">
</form>

{% if basic_only %}
<p><form method="post" action="{% url 'login_frontend.authentication_views.logoutview' %}?{{ get_params }}">{% csrf_token %}<button class="btn btn-link">Not {{ first_name }}?</button></form></p>
{% endif %}

</div>
</div>

{% endblock %}
