{% extends "login_frontend/base.html" %}

{% block title %}Configure Authenticator - {% endblock %}
{% block content %}

<h2>Configure Google Authenticator</h2>

<div class="panel panel-info">
<div class="panel-heading">
 <h3 class="panel-title">What is Google Authenticator?</h3>
</div>
<div class="panel-body">

<p>Google Authenticator generates one-time passwords on your phone. It's faster and more reliable than receiving SMS messages. After configuring Google Authenticator,
you can still authenticate using SMS messages if needed.</p>

</div>
</div>

<div class="panel panel-info">
<div class="panel-heading">
 <h3 class="panel-title">No Authenticator installed?</h3>
</div>
<div class="panel-body">
<p>You need to install a small app to your phone.</p>

<ul>

<li><a target="_window" href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2">Android</a> <strong>and</strong>
    <a target="_window" href="https://play.google.com/store/apps/details?id=com.google.zxing.client.android">barcode scanner</a>.
    If you're signed in to Google, open these links and click <button class="btn btn-sm btn-default" disabled="disabled">Install</button> to send those to your phone.</li>

<li><a target="_window" href="https://itunes.apple.com/fi/app/google-authenticator/id388497605?mt=8">iPhone</a>. Or search for "Google Authenticator" from App Store.</li>

<li><a target="_window" href="http://www.windowsphone.com/en-us/store/app/authenticator/e7994dbc-2336-4950-91ba-ca22d653759b">Windows Phone</a>.
    If you're signed in with your Microsoft account, open this link and click <button class="btn btn-sm btn-default" disabled="disabled">Install</button> to install the app to your phone. There's also another, inferior Authenticator app available - try to avoid that one.</li>
<li><a target="_window" href="https://github.com/stozze/harbour-sgauth">Jolla</a> (search for SGAuth)</li>
</ul>
</div>
</div>

<div class="panel panel-info">
<div class="panel-heading">
 <h3 class="panel-title">Authenticator setup</h3>
</div>
<div class="panel-body">
<div class="manual-instructions">
<ol>
<li>Open Authenticator app</li>
<li>In Authenticator, select <button class="btn btn-sm btn-default" disabled="disabled">Begin Setup</button> and click <button class="btn btn-sm btn-default" disabled="disabled">Scan a barcode</button>. Don't select any of the listed accounts.</li>
<li>Scan this QR code and continue to next step below.</li>
</ol>
<p><img class="img-responsive" src="{% url 'login_frontend.views.get_authenticator_qr' authenticator_qr_nonce %}"></p>
<p class="text-center"><i class="fa fa-angle-down"></i><i class="fa fa-angle-down"></i> After scanning, scroll down to the last step. <i class="fa fa-angle-down"></i><i class="fa fa-angle-down"></i></p>
</div>


<div class="manual-instructions"><hr/>
If you can't scan this code, you can setup Authenticator manually.
<button data-open-class="manual-instructions" class="toggle btn btn-sm btn-info">Show alternative instructions</button>
</div>

<div class="hidden manual-instructions">
<p><strong>Use these instructions only if you can't scan QR code.</strong> <button data-open-class="manual-instructions" class="toggle btn btn-sm btn-primary">Go back to barcode instructions</button></p>
</p>
<ol>
<li>In Authenticator, select <button class="btn btn-small btn-default" disabled="disabled">Begin Setup</button> and <button class="btn btn-small btn-default" disabled="disabled">Enter provided key</button></li>
<li>To first field ("Enter account name"), enter "<kbd>{{ authenticator_id }}</kbd>"</li>
<li>To second field ("Enter your key"), enter "<kbd>{{ authenticator_secret }}</kbd>". This must match exactly.</li>
<li>Key type is "Time based"</li>
<li>Click <button class="btn btn-small btn-default" disabled="disabled">Add</button> on Authenticator and scroll down to the last step on this page <i class="fa fa-angle-down"></i></li>
</ol>
</div>
</div>
</div>

<div class="panel panel-info">
<div class="panel-heading">
 <h3 class="panel-title">Finish it</h3>
</div>
<div class="panel-body">

{% if invalid_otp %}
<div class="alert alert-danger">
	{{ invalid_otp }} If trying again doesn't help, try reconfiguring your Authenticator. If you can't get this to work, please contact IT team.
</div>

<p>Having problems with "your clock is off"? Try syncing clock of your phone.
On some cell networks, operators clocks are off. In that case, on Android, go to "Settings > Time correction for codes > Sync now".
On Windows Phone, similar feature is enabled by default. On iPhone, you're out of luck.</p>

{% endif %}

<p>After configuring Authenticator, it should show 6-digit that changes every 30 seconds. The title should be "{{ authenticator_id }}".</p>

<p>To complete configuration and continue to service you tried to access, please enter that code below:</p>

<form method="POST" action="{% url 'login_frontend.views.configure_authenticator' %}?{{get_params }}">
{% csrf_token %}
<input id="id_otp" name="otp_code" type="tel" pattern="[0-9 ]*" autocomplete='off' placeholder="123456" />
<button class="btn btn-primary">Save and continue</button>
</form>

</div>
</div>





<p><strong>Do not</strong> save contents of this page to your computer. If you ever lose your configuration, you can always regenerate it from this service.</p>


<p>Want to skip this for now? <a href="{% url 'login_frontend.views.configure' %}">Go back to configuration view</a>
{% if back_url %} or <a href="{{ back_url }}">continue to your originating service</a>{% endif %}
</p>

{% endblock %}
