{% extends "login_frontend/base.html" %}

{% block title %}Configure - {% endblock %}
{% block content %}

<h1>Settings</h1>

{% if enable_cookies %}
	<div class="alert alert-danger">
		Please enable cookies. You're not able to sign in without properly working cookies.
	</div>
{% endif %}


{% if message %}
<div class="alert alert-warning">
	{{ message }}
</div>
{% endif %}

{% if not user.strong_configured %}
	<h2>Configure Strong Authentication</h2>

	{% if back_url %}
		<p><a href="{{ back_url }}" class="btn btn-info skip_for_now">Skip for now</a></p>
	{% endif %}

	<p>You have not set your preferences yet.

	{% if back_url %} 
		If you want to, you can do this later. <a href="{{ back_url }}">Go back to service you tried to access</a>.
	{% endif %}

	This screen will be shown to you every time you login, until you select your preferences below.</p>

{% elif back_url %}
		<p><a href="{{ back_url }}" class="btn btn-info">Continue to the service you tried to access</a></p>
{% endif %}

{% if not user.strong_authenticator_secret %}
	{% if user.strong_sms_always %}
		<div class="alert alert-warning">
			You have opted for SMS authentication. Do note that it is less reliable, especially while traveling.
			This system will ask for one-time passwords when you travel to new places.
		</div>
	{% endif %}

	<p>You don't have Google Authenticator configured, or your configuration was revoked.
	{% if user.strong_sms_always %}
		Even if you want to use SMS by default, you should configure Authenticator.
	{% else %} 
		You have two choices: either use Authenticator app on your mobile phone, or receive SMS every time one-time password is required.
	{% endif %}</p>

	<ul>
	<li>Authenticator is more reliable, because it works with no cell or internet connection.</li>
	<li>Installing Authenticator takes only a few minutes. You'll get a full set of instructions.</li>
	<li>Using SMS does not require any configuration, <b>but</b> it does not work reliably while traveling.</li>
	</ul>

	<p>If you want to make your life a bit easier, you can</p>

	<form name="loginform" method="POST" action="{% url 'login_frontend.views.configure_authenticator' %}?{{ get_params }}">
	        {% csrf_token %}
	        <button class="btn btn-primary configure_authenticator_btn" type="submit">Configure Google Authenticator</button>
	</form>

	{% if not user.strong_sms_always %}
		<p>If you want to live dangerously, you can opt for always receiving SMS messages. Before clicking this, do note the following:</p>
		<ul>
		<li>Installing and configuring Authenticator takes only a few minutes.</li>
		<li>Authenticator is faster to use.</li>
		<li>SMS delivery could be unreliable especially while traveling. You'll need one-time codes when traveling to new places.</li>
		<li>Even if you use Authenticator by default, you can always click "use SMS" link on the login page.</li>
		</ul>

		<form name="loginform" method="POST" action="{% url 'login_frontend.views.configure_strong' %}?{{ get_params }}">
		        {% csrf_token %}
			<input type="hidden" name="always_sms" value="on"><button class="btn btn-warning" type="submit">Always use SMS</button>
		</form>
	{% endif %}

{% else %}
	{% if user.strong_authenticator_used and not user.strong_sms_always %}
		<div class="alert alert-success">
			You are using Google Authenticator for one-time passwords. If you have it configured on your phone, no action is required. The name of
			the code should be "<tt>{{ authenticator_id }}</tt>". If that does not match, you probably have to reconfigure it.
		</div>
		<p>If you have lost the configuration, you can</p>
	{% elif user.strong_authenticator_used %}
		<p>You have Google Authenticator configured and according to our records you have successfully used it.
		If you don't have Google Authenticator configured anymore - for example, after reinstalling or changing the phone - you can reconfigure it:</p>
	{% else %}
		<p>It seems you have generated Google Authenticator configuration, but you have not used it. If you haven't actually
		configured it to your phone, you can</p>
	{% endif %}

	<form name="loginform" method="POST" action="{% url 'login_frontend.views.configure_authenticator' %}?{{ get_params }}">
	        {% csrf_token %}
	        <span class="tooltip-link" title="Clicking this will immediately revoke your previous configuration"><button class="btn btn-warning configure_authenticator_btn" type="submit">Reconfigure Google Authenticator</button></span>
	</form>

	<hr />

	{% if not user.strong_sms_always %}
		<p>If you don't want to use Authenticator, you can opt to always use SMS instead. Before doing this, please note following points:</p>

		<ul>
		<li>Authenticator is faster to use</li>
		<li>SMS delivery could be unreliable especially while traveling. You'll need one-time codes when traveling to new places.</li>
		<li>Even if you use Authenticator by default, you can always click "use SMS" link on the login page.</li>
		</ul>

		<form name="loginform" method="POST" action="{% url 'login_frontend.views.configure_strong' %}?{{ get_params }}">
		        {% csrf_token %}
		        <input type="hidden" name="always_sms" value="on"><button class="btn btn-warning" type="submit">Always use SMS</button>
		</form>
	{% else %}
		{% if not user.strong_authenticator_used %}
			<p>It seems you have generated configuration for Authenticator {% include "snippets/timestamp.html" with timestamp=user.strong_authenticator_configured_at %}, but never used it. If you want to, you can still switch to using Authenticator by default:</p>
		{% else %}
			<p>You have generated configuration for Authenticator {% include "snippets/timestamp.html" with timestamp=user.strong_authenticator_configured_at %}, and successfully used it. If you want to, you can still switch to using Authenticator by default:</p>
		{% endif %}
		<form name="loginform" method="POST" action="{% url 'login_frontend.views.configure_strong' %}?{{ get_params }}">
		        {% csrf_token %}
		        <input type="hidden" name="always_sms" value="off"><button class="btn btn-primary" type="submit">Prompt for Authenticator</button>
		</form>

	{% endif %}

{% endif %}

<h3>Properties</h3>
<ul>
<li><span class="tooltip-link" title="Want to change this? Please contact IT team"><b>Primary phone number:</b> {{ user.primary_phone }}</span> (last changed {% include "snippets/timestamp.html" with timestamp=user.primary_phone_refresh %})</li>
{% if user.secondary_phone %}<li><b>Secondary phone number:</b> {{ user.secondary_phone }}</span> (last changed {% include "snippets/timestamp.html" with timestamp=user.secondary_phone_refresh %})</li>{% endif %}
<li><b>Google Authenticator configured:</b>
   {% if user.strong_authenticator_secret %}
	{% if user.strong_authenticator_used %}
		<i class="fa fa-thumbs-o-up"></i>
	{% else %}
		<span class="tooltip-link" title="Maybe - it's configured, but you haven't used it."><i class="fa fa-question"></i></span>
        {% endif %}
	{% if user.strong_authenticator_generated_at %} {% include "snippets/timestamp.html" with timestamp=user.strong_authenticator_generated_at %}
	{% endif %}
   {% else %}<i class="fa fa-thumbs-o-down"></i>
   {% endif %}
</li>
<li><b>Authenticate with SMS by default:</b> {% if user.strong_sms_always %}yes. You'll automatically receive SMS every time strong authentication is required. Do note that SMS does not work too well when traveling.{% else %}By default, you'll get to Authenticator page. However, you can always click "use SMS" link, if you want to.{% endif %}</li>
</ul>

{% if csp_violations %}
<h3>CSP problems</h3>

<p>Your browsers have reported {{ csp_violations }} blocked action{{ csp_violations|pluralize }}. Usually these are caused by browser extensions that modify contents of the page.
If you want to, you can <a href="{% url 'cspreporting.views.view_reports' %}">review these reports</a>.</p>

{% endif %}

{% endblock %}
