{% extends "login_frontend/base.html" %}

{% load compress %}
{% block title %}Configure - {% endblock %}
{% block header %}
{% compress js %}
<script src="/static/js/configure.js" type="text/javascript"></script>
{% endcompress %}
{% endblock %}

{% block content %}

{% include "login_frontend/snippets/vulnerable_browser.html" %}

<h1>Settings</h1>

{% if not user.strong_configured %}
<div class="panel panel-info">
	<div class="panel-heading">
		Configuration required
	</div>
	<div class="panel-body">

	{% if back_url %}
		<p><a href="{{ back_url }}" class="btn btn-info skip_for_now">Skip for now</a> {% if return_readable %}and continue to {{ return_readable }}.{% endif %}</p>
	{% endif %}

	<p>You have not set your preferences yet.

	{% if back_url %}
		If you want to, you can do this later. <a href="{{ back_url }}">Go back to {% if return_readable %}{{ return_readable }}{% else %}service you tried to access{% endif %}</a>.
	{% endif %}

	You will see this screen every time you sign in, until you select your preferences below.</p>
	</div>
</div>
{% elif back_url %}
		<p><a href="{{ back_url }}" class="btn btn-info">Continue to the service you tried to access</a></p>
{% endif %}


<div class="well">
<p>To sign in, you need two different things: your password, and one-time password. For longer explanation, please see <a href="{% url 'introduction' %}">separate page</a>.</p>

<p>For one-time passwords, you can use any of these methods:</p>
<dl>
    <dt>Authenticator {% if user.strong_authenticator_used %}<span class="label label-success">ok</span>{% elif username %}<span class="label label-warning">Requires action</span>{% endif %}</dt>  
    <dd>{% if user.strong_authenticator_used %}You have configured and used Authenticator already.{% else %}You don't have active Authenticator configuration. You should configure this.{% endif %}</dd>
    <dt>SMS <span class="label label-success">ok</span></dt>
    <dd>SMSes are less reliable than Authenticator.</dd>
    <dt>Emergency codes {% if user.emergency_codes_valid %}<span class="label label-success">ok</span>{% elif username %}<span class="label label-warning">Requires action</span>{% endif %}</dt>
    <dd>These are long random passwords you can use once if you lose access to your mobile phone.</dd>
    <dt>Yubikeys {% if yubikey %}<span class="label label-success">ok</span>{% endif %}</dt>
    <dd>Small hardware tokens to generate one-time passwords. Ask yours from IT.</dd>
</dl>

</div>

{% if not user.strong_authenticator_secret %}
<div class="panel panel-danger">
	<div class="panel-heading">
		<span class="label label-danger">Needs action</span> Strong authentication
	</div>
	<div class="panel-body">

	{# authenticator is not generated #}
	{% if user.strong_sms_always %}
		<div class="alert alert-danger">
			<i class="fa fa-exclamation"></i> You have opted for SMS authentication. That is totally okay.
			<strong>However, you should configure Authenticator as a backup</strong>. SMS is less reliably, especially
			while traveling.
		</div>

	{% else %}
		<div class="well">
			Recommended configuration: install and configure Authenticator and after that decide
			whether you want to use Authenticator or SMS for authentication.
		</div>

		<p>This way, you can still use SMS if you want to, but if SMS delivery fails - for example, while
		traveling, or when there's issues with cell network, or with our SMS gateway, you can still
		sign in.</p>
	{% endif %}

	<ul>
	<li>Authenticator is more reliable, because it works with no cell or internet connection.</li>
	<li>Installing Authenticator takes only a few minutes. You'll get a full set of instructions.</li>
	<li>Using SMS does not require any configuration, <strong>but</strong> it does not work reliably while traveling.</li>
	</ul>

	<p>If you want to make your life a bit easier, you can</p>

	<form name="loginform" method="POST" action="{% url 'login_frontend.views.configure_authenticator' %}?{{ get_params }}">
	        {% csrf_token %}
	        <button class="btn btn-primary configure_authenticator_btn" type="submit">Configure Google Authenticator</button>
	</form>


	{% if not user.strong_sms_always %}
		<hr/>
		<p>If you want to live dangerously, you can opt for always receiving SMS messages. Before clicking this, do note the following:</p>
		<ul>
		<li>Installing and configuring Authenticator takes only a few minutes.</li>
		<li>Authenticator is faster to use.</li>
		<li>SMS delivery could be unreliable especially while traveling. You'll need one-time codes when traveling to new places.</li>
		<li>Even if you use Authenticator by default, you can always click "use SMS" link on the login page.</li>
		</ul>

		<form name="loginform" method="POST" action="{% url 'login_frontend.views.configure' %}?{{ get_params }}">
		        {% csrf_token %}
			<input type="hidden" name="always_sms" value="on"><button class="btn btn-default" type="submit">Always use SMS</button>
		</form>
	{% endif %}
	</div>
</div>

{% else %} {# strong_authenticator_secret #}
	<div class="panel panel-{% if user.strong_authenticator_used %}success{% else %}danger{% endif %}">
		<div class="panel-heading">
			{% if not user.strong_authenticator_used %}<span class="label label-danger">Needs action</span> {% endif %}Strong authentication
		</div>
		<div class="panel-body">
	{% if not user.strong_authenticator_used %}
		<div class="alert alert-danger">
			<i class="fa fa-exclamation-triangle"></i>
			You have generated Authenticater configuration, but haven't ever used it. If SMS delivery fails, <strong><span class="tooltip-link" title="Except if you have emergency codes available.">you can't sign in</span></strong>.
		</div>
		<p>If you have Authenticator installed, please enter the code below to validate it. The name of the Authenticator code should be "{{ authenticator_id }}".</p>
		<form method="POST" action="{% url 'login_frontend.views.configure' %}?{{get_params }}">
		{% csrf_token %}
		<input id="id_otp" name="otp_code" type="tel" pattern="[0-9 ]*" autocomplete='off' placeholder="123456" />
		<button class="btn btn-primary">Validate Authenticator installation</button>
		</form>


		<p>If you don't have Authenticator configured, or the code does not match, please configure it now:</p>
	{% else %}
		<p><i class="fa fa-heart"></i> You have successfully configured Authenticator. The name of the code should be "{{ authenticator_id }}". If that does not match what your Authenticator app says, please configure Authenticator again:</p>
	{% endif %}

	<form name="loginform" method="POST" action="{% url 'login_frontend.views.configure_authenticator' %}?{{ get_params }}">
	        {% csrf_token %}
	        <span class="tooltip-link" title="Clicking this will immediately revoke your previous configuration"><button class="btn btn-warning configure_authenticator_btn" type="submit">Reconfigure Google Authenticator</button></span>
	</form>

	<hr/>
	{% if not user.strong_sms_always %}
		<p>If you don't want to use Authenticator, you can opt to always use SMS instead. Before doing this, please note following points:</p>

		<ul>
		{% if not user.strong_authenticator_used %}<li><strong>You really should configure Authenticator as a backup</strong>, even if you want to use SMS by default</li>{% endif %}
		<li>Authenticator is faster to use</li>
		<li>SMS delivery could be unreliable especially while traveling. You'll need one-time codes when traveling to new places. You <strong>can't</strong> sign in if SMS delivery fails.</li>
		<li>Even if you use Authenticator by default, you can always click "use SMS" link on the login page.</li>
		</ul>

		<form name="loginform" method="POST" action="{% url 'login_frontend.views.configure' %}?{{ get_params }}">
		        {% csrf_token %}
		        <input type="hidden" name="always_sms" value="on"><button class="btn btn-default" type="submit">Always use SMS</button>
		</form>
	{% else %}
		{% if not user.strong_authenticator_used %}
			<p>It seems you have generated configuration for Authenticator {% include "snippets/timestamp.html" with timestamp=user.strong_authenticator_configured_at %}, but never used it. If you want to, you can still switch to using Authenticator by default:</p>
		{% else %}
			<p>You have generated configuration for Authenticator {% include "snippets/timestamp.html" with timestamp=user.strong_authenticator_configured_at %}, and successfully used it. If you want to, you can still switch to using Authenticator by default:</p>
		{% endif %}
		<form name="configureform" method="POST" action="{% url 'login_frontend.views.configure' %}?{{ get_params }}">
			{% csrf_token %}
			<input type="hidden" name="always_sms" value="off"><button class="btn btn-primary" type="submit">Prompt for Authenticator</button>
		</form>

	{% endif %}
		</div>
	</div>

{% endif %}

<div class="panel panel-{% if user.emergency_codes_valid %}success{% else %}danger{% endif %}">
	<div class="panel-heading">
		{% if not emergency_codes.valid %}<span class="label label-danger">Needs action</span> {% endif %}Emergency codes
	</div>
	<div class="panel-body">
		<p>Emergency codes are long autogenerated single-use passwords. If you lose
			your phone, you can use these to sign in. If you don't have your phone or
			emergency codes with you, you <strong>can't</strong> sign in.</p>

		{% if emergency_codes %}
			{% if emergency_codes.valid %}
				<p>You have generated and downloaded a set of emergency codes {% include "snippets/timestamp.html" with timestamp=emergency_codes.generated_at %}. You still have {{ emergency_codes.codes_left }} code{{ emergency_codes.codes_left|pluralize }} left.</p>
			{% elif not emergency_codes.downloaded_at %}
				<p>You have generated a set of emergency codes, but did not download those.</p>
			{% elif emergency_codes.codes_left == 0 %}
				<p>You have generated and downloaded a set of emergency codes, <strong>but you have used all of the codes</strong>. Please generate a new set of codes.</p>
			{% endif %}
		{% else %}
			<p>You don't have any active emergency codes available. Please generate a new set of codes.</p>
		{% endif %}
		<form name="generate_emergency_codes" method="POST" action="{% url 'login_frontend.views.configure' %}?{{ get_params }}">
				{% csrf_token %}
				<input type="hidden" name="generate_emergency" value="true">
				{% if emergency_codes.valid %}
				<button class="btn btn-warning" type="submit">Revoke and generate new emergency codes</button>
				{% else %}
				<button class="btn btn-primary" type="submit">Generate emergency codes</button>
				{% endif %}
		</form>
	</div>
</div>

<div class="panel {% if yubikey %}panel-success{% else %}panel-info{% endif %}">
	<div class="panel-heading">
		Yubikeys
	</div>
	<div class="panel-body">
		<p>Yubikeys are small hardware tokens for entering the OTP.</p>

		{% if yubikey %}
			<p>You already have Yubikey configured.</p>
		{% endif %}

		<form name="configure_yubikey" method="POST" action="{% url 'login_frontend.views.configure_yubikey' %}?{{ get_params }}">
			{% csrf_token %}
			<input type="hidden" name="configure_yubikey" value="true">
			{% if yubikey %}
				<button class="btn btn-info" type="submit">Reconfigure Yubikey</button>
			{% else %}
				<button class="btn btn-primary" type="submit">Configure Yubikey</button>
			{% endif %}
		</form>
	</div>
</div>


<div id="enable-notification" class="hidden">

<div class="panel panel-info">

<div class="panel-heading">
	<span class="label label-success">New</span> Notifications
</div>

<div class="panel-body">
<p>If you want to, you can enable desktop notifications from this service.
Right now these are not in use, but in the future you'll receive notification
for sign-in from unknown devices and when your session is about to expire.</p>

<button id="enable-notification-btn" class="btn btn-primary inline-block">Enable notifications</button>

</div>
</div>
</div>

<div id="enable-notification-thanks" class="hidden">

<div class="panel panel-success">

<div class="panel-heading">
	Notifications enabled
</div>
<div class="panel-body">

<p>Thanks! Notifications are now enabled. You can disable this from
your browser settings, if it ever annoys you. You'll notice when these are in
use. But you'll get notifications only for things that are important for you.</p>

</div>
</div>
</div>

{% if not user.location_authorized %}

<div id="enable-location" class="hidden">

<div class="panel panel-info">
<div class="panel-heading">
	<span class="label label-success">New</span> Location sharing
</div>

<div class="panel-body">

<p>You can help improving this service by automatically sharing your location.
Location information is only collected (or available) when you use this service.
Opting to this is voluntary.</p>

<p>In the future, it will improve your sign-in experience
(fewer challenges), but right now this data is collected for validating
the data collected from WHOIS and geoip databases.
You can cancel this at any time either from this page or from your
browser settings.</p>

<div class="alert alert-warning hidden" id="location-error">Requesting location failed. Either your browser does not support location services, or you denied authorization.
That is totally okay. If you still want to enable this, you have to clear your preference from your browser before clicking "Share your location"
again.</div>

<button class="btn btn-primary inline-block" id="enable-location-btn"><i class="fa fa-location-arrow"></i> Share your location</button>

</div>
</div>
</div>

{% else %}

<div id="disable-location">

<div class="panel panel-default">
<div class="panel-heading">
	Location sharing
</div>

<div class="panel-body">

<p>You've indicated you want to share your location to improve this service.
The location is only recorded when you open this service. Additionally,
you can deny sharing the location on per-browser basis, if needed.</p>

{% if locations_shared %}
<p><span class="badge">{{ locations_shared }}</span> location{{ locations_shared|pluralize }} stored for your browsers. <a href="{% url 'login_frontend.views.get_locations_kml' %}"><i class="fa fa-download"></i> Download your data</a></p>
{% endif %}

<p>If you want to, you can disable this feature.
If you click "Disable location sharing", this service will not
ask for your location in the future.</p>

<form method="POST" action="?{{ get_params }}" role="form">
{% csrf_token %}
<input type="hidden" name="location" value="off">
<button class="btn btn-default" id="disable-location-btn" type="submit">Disable location sharing</button>
</form>
</div>
</div>
</div>

{% endif %}

<div id="enable-location-thanks" class="hidden">

<div class="panel panel-success">
<div class="panel-heading">
	Location sharing enabled
</div>
<div class="panel-body">

<p>Thanks! You'll be asked for authorization on each device you use to sign in. Feel free to
deny this at any time on any browser - it won't break anything. However, sharing this information
helps making this service better.</p>
</div>
</div>
</div>


<div class="panel panel-default">

<div class="panel-heading">
	Properties
</div>
<div class="panel-body">
<ul>
<li><span class="tooltip-link" title="Want to change this? Please contact IT team"><strong>Primary phone number:</strong> {{ user.primary_phone }}</span> (last changed {% include "snippets/timestamp.html" with timestamp=user.primary_phone_refresh %})</li>
{% if user.secondary_phone %}<li><strong>Secondary phone number:</strong> {{ user.secondary_phone }}</span> (last changed {% include "snippets/timestamp.html" with timestamp=user.secondary_phone_refresh %})</li>{% endif %}
<li><strong>Google Authenticator configured:</strong>
   {% if user.strong_authenticator_secret %}
	{% if user.strong_authenticator_used %}
		<i class="fa fa-thumbs-o-up"></i>
	{% else %}
		<span class="tooltip-link" title="Maybe - it's configured, but you haven't used it."><i class="fa fa-question"></i></span>
        {% endif %}
	{% if user.strong_authenticator_generated_at %} {% include "snippets/timestamp.html" with timestamp=user.strong_authenticator_generated_at %}
	{% endif %}
   {% else %}<i class="fa fa-thumbs-o-down"></i>
   {% endif %}
</li>
{% if user.password_changed %}
<li><strong>Password changed</strong> {% include "snippets/timestamp.html" with timestamp=user.password_changed %}</li>
{% endif %}
{% if user.password_expires %}
<li><strong>Password expires</strong> {% include "snippets/timestamp.html" with timestamp=user.password_expires %}</li>
{% endif %}
{% if user_aliases %}
<li><strong>Aliases</strong> (you can use any of these to sign in): {% for alias in user_aliases %}{{ alias }} {% if not forloop.last %} - {% endif %}{% endfor %}
{% endif %}
<li><strong>Authenticate with SMS by default:</strong> {% if user.strong_sms_always %}yes. You'll automatically receive SMS every time strong authentication is required. Do note that SMS does not work too well when traveling.{% else %}By default, you'll get to Authenticator page. However, you can always click "use SMS" link, if you want to.{% endif %}</li>
</ul>
</div>
</div>

{% if csp_violations %}
<div class="panel panel-default">
<div class="panel-heading">
	CSP problems
</div>

<div class="panel-body">

<p>During last month, your browsers have reported blocked actions. Usually these are caused by browser extensions that modify contents of the page.
If you want to, you can <a href="{% url 'cspreporting.views.view_reports' %}">review these reports</a>.</p>
</div>
</div>

{% endif %}

{% endblock %}
