{% extends "login_frontend/base.html" %}

{% block title %}Redirecting... {% endblock %}
{% block messages %}
{% endblock %}

{% block header %}
{% if vulnerability.priority != "mandatory" %}
<meta http-equiv="refresh" content="0; url={{back_url}}">
{% endif %}
{% endblock %}

{% block content %}

{% include "login_frontend/snippets/vulnerable_browser_long.html" %}

{% if vulnerability.priority != "mandatory" %}
	<h2>Redirecting...</h2>

	<p>Please wait. Your browser was already redirected, but loading your destination service seems to take some time.</p>

	<p>If this takes more than a few seconds, you can <a href="{{ back_url}}">retry</a>.</p>
{% endif %}
{% endblock %}
