{% extends "login_frontend/base.html" %}

{% block title %}Index - {% endblock %}
{% block content %}
<div class="logout-alert ">
		Signed in as <div class="username">{{ username }}</div>

		<form action="{% url 'login_frontend.views.logoutview' %}?{{ get_params }}" method="POST">
			{% csrf_token %}
			<input class="btn btn-lg" type="submit" name="logout" value="Sign out">
		</form>

</div>

<div>

<ul class="list-group">

{% if auth_level == "strong" %}
	<li class="list-group-item list-group-item-success">You have authenticated with <a class="alert-link" role="button" href="{% url 'introduction' %}">strong authentication</a>.</li>
{% elif auth_level == "strong_skipped" %}
	<li class="list-group-item list-group-item-success">You are fully authenticated.</li>
{% elif auth_level == "basic" %}

	<li class="list-group-item list-group-item-warning">You are authenticated only on basic level. To access services, you have to <a href="{% url 'login_frontend.views.secondstepauth' %}?{{get_params}}">authenticate with 
	strong authentication</a>.</li>

{% elif auth_level == "emulate_legacy" %}
	<p>Your session will expire in {% include "snippets/timestamp.html" with timestamp=session_expire %}.</p>
{% endif %}

{% if auth_level != "strong_skipped" %}
	{% if auth_level != "emulate_legacy" %}
	<li class="list-group-item">
		{% if remembered %}
			<p>You are <span class="popover-link" data-toggle="popover" data-trigger="hover"
			title="Remembered browser" data-content="You have indicated this is your private browser. Your authentication is remembered
			over browser restarts. You might need enter your credentials from time to time.">remembered on this browser</span>.</p>

			<form method="post" action="?{{ get_params }}">
			{% csrf_token %}
			<span class="tooltip-link" title="If you click this, your session will not persist over browser restarts">
			<button class="btn btn-default" name="my_computer" value="off">Forget this browser</button>
			</span>
			</form>

		{% else %}
			<p>You will be signed out <span class="popover-link" data-toggle="popover" data-trigger="hover"
			title="Why?" data-content="You have not indicated you want to be remembered on this computer. When you click 'Sign out' below or
			close your browser, you will be signed out.">when you close the browser</span>.</p>

			<form method="post" action="?{{ get_params }}">
			{% csrf_token %}
			<span class="tooltip-link" title="If you click this, your session will persist over browser restarts">
			<button class="btn btn-default" name="my_computer" value="on">Remember me on this browser</button>
			</span>
			</form>
		{% endif %}
	</li>
	{% endif %}
{% endif %}


{% if user_services %}
<li class="list-group-item">Want to continue from this service? Here's a list of services you have used earlier:

<ul class="list-unstyled">
{% for service in user_services %}
<li><a href="{{ service.service_url }}">{{ service.service_url|truncatechars:"60" }}</li>
{% endfor %}
</ul>
</li>
{% endif %}
</ul>

</div>
{% endblock %}
