{% extends "login_frontend/base.html" %}

{% block title %}Invalid request - {% endblock %}
{% block content %}

{% if back_url_not_defined %}
	<div class="alert alert-warning">
		No return URL defined.
	</div>

	<p>No return URL was defined on your request. If you want to, you can still <a href="{% url 'login_frontend.views.indexview' %}">sign in</a>, but
	you won't get redirected from this service.</p>
{% elif invalid_back_url %}
	<div class="alert alert-warning">
		<i class="fa fa-exclamation-triangle"></i>
		Unable to complete sign-in request.
	</div>

	<p>Requested service URL "{{ back_url }}" is invalid. 
{% if invalid_back_url_reason == "wrong_protocol" %}HTTPS is required, but it service URL specifies different protocol.
{% elif invalid_back_url_reason == "invalid_domain" %}Domain is not valid. This protocol can only be used within a single domain.
{% elif invalid_back_url_reason == "no_hostname" %}There's no hostname in service URL.
{% endif %}</p>

<p>You can still <a href="{% url 'login_frontend.views.indexview' %}">sign in</a>, but you'll stay on this service.</p>
{% endif %}

{% if unauth %}
	<div class="alert alert-danger">
		<i class="fa fa-exclamation-triangle"></i>
		Your don't have access to requested resource.
	</div>

	<p>Unfortunately, you don't have access to "{{ back_url }}". If you want to, you can logout and login again with different user. If you got access to new groups, do the same.</p>

	<form method="post" action="{% url 'login_frontend.authentication_views.logoutview' %}?{{ get_params }}">
	{% csrf_token %}
	<input type="submit" value="Logout and login again" class="btn btn-primary">
	</form>

	<p>If you think you should have access to this service, please contact IT team.</p>
{% endif %}

{% endblock %}
