{% extends "login_frontend/base.html" %}

{% block title %}Sessions - {% endblock %}

{% block body_snippets %}
{% for detailed in sessions %}
<div class="modal fade" id="browser_name_{{ detailed.browser.bid_public }}" tabindex="-1" role="dialog" aria-labelledby="browser_name_{{ detailed.browser.bid_public }}" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="browser_name_{{ detailed.browser.bid_public }}_label">Change name for {{ detailed.browser.get_readable_ua }}

{% for icon in detailed.icons %}
<i class="fa fa-{{icon}}"></i>
{% endfor %}
</h4>
      </div>
      <div class="modal-body">
<p>This name is only visible for you. If you have multiple browsers, you can identify those with this. For example, you could use "Work laptop" and "Work desktop" as names.</p>

<form role="form" method="post" action="?">
{% csrf_token %}
<input type="hidden" name="bid_public" value="{{ detailed.browser.bid_public }}">
<input type="hidden" name="action" value="rename">

  <div class="form-group">
    <label for="exampleInputPassword1">Browser name</label>
    <input type="text" class="form-control" id="id_name" name="name" placeholder="Work laptop" value="{% if detailed.browser.name %}{{ detailed.browser.name }}{% endif %}">
  </div>
  <button type="submit" class="btn btn-primary">Save</button> <button data-dismiss="modal" class="btn btn-default">Cancel</button>
</form>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="browser_info_{{ detailed.browser.bid_public }}" tabindex="-1" role="dialog" aria-labelledby="browser_info_{{ detailed.browser.bid_public }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="browser_info_{{ detailed.browser.bid_public }}_label">{{ detailed.browser.get_readable_ua }}
{% for icon in detailed.icons %}
<i class="fa fa-{{icon}}"></i>
{% endfor %}
</h4>
      </div>
      <div class="modal-body">
<dl class="dl-horizontal">
{% if detailed.browser.name %}<br/>
 <dt>Description</dt>
 <dd>{{ detailed.browser.name }}</dd>
{% endif %}
{% if detailed.timesync %}
 <dt>Your clock</dt>
 <dd>{{ detailed.timesync.formatted_time_diff }} &plusmn; {{ detailed.timesync.measurement_error }}ms (measured {% include "snippets/timestamp.html" with timestamp=detailed.timesync.checked_at %})</dd>
{% endif %}
{% if detailed.last_known_location %}
 <dt>Last seen at</dt>
 <dd>{{ detailed.last_known_location }}</dd>
 <dt>Last seen from</dt>
 <dd>{{ detailed.last_known_location_from }} ({% include "snippets/timestamp.html" with timestamp=detailed.last_known_location_timestamp %})</dd>
{% else %}
 <dt>Last seen</dt>
 <dd>{% if detailed.this_session %}Right now (this session){% else %}<b>{% include "snippets/timestamp.html" with timestamp=detailed.session.last_seen %}</b>{% endif %}</dd>
 <dt>Last address</dt>
 <dd><b>{{ detailed.session.remote_ip }}</b> ({{ detailed.geo }})</dd>
{% endif %}
 <dt>Remembered</dt>
 <dd>{% if detailed.browser.save_browser %}<span class="tooltip-link" title="You have marked this browser as 'remembered'">yes</span>{% else %}no{% endif %}</dd>
 <dt>First visited</dt>
 <dd>{% include "snippets/timestamp.html" with timestamp=detailed.browser.created %}</dd>
 <dt>Browser</dt>
 <dd>{{ detailed.browser.ua }}</dd>
</dl>
{% if detailed.p0f %}
 Latest fingerprint:
  {% include "login_frontend/snippets/p0f.html" with entry=detailed.p0f %}
{% endif %}


      </div>
      <div class="modal-footer">
        <form role="form" class="inline-block" method="post" action="{% if detailed.this_session %}{% url 'login_frontend.views.logoutview' %}{% else %}{% url 'login_frontend.views.sessions' %}{% endif %}?{{ get_params }}">
        {% csrf_token %}
        <input type="hidden" name="logout" value="{{ detailed.browser.bid_public }}">
        <button type="submit" class="inline-block btn btn-danger">Sign out</button>
        </form>
        <a class="btn btn-primary" href="{% url 'login_frontend.views.view_log' detailed.browser.bid_public %}">View log</a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}


{% block content %}

<h2>Your active sessions</h2>

<div class="panel panel-default">

<div class="panel-body">

<p>Here are all your active sessions. Do note that signing out does not sign out from all external services. For example, if you (or someone else) signed in to Google Apps, or to any OpenID service, those will still be valid.</p>

{% if num_sessions > 1 %}
{# only show "sign out all" if other sessions exist. #}
<p>You can also terminate all sessions, excluding this one:</p>
 <form method="post" action="{% url 'login_frontend.views.sessions' %}?{{ get_params }}">
  {% csrf_token %}
  <input type="hidden" name="logout" value="all">
  <button type="submit" class="btn-lg btn btn-danger">Sign out all my sessions</button>
 </form>

{% endif %}
</div>

<ul class="list-group">
<li class="list-group-item"></li>
{% for detailed in sessions %}
<li class="list-group-item">
<div class="row">
<div class="col-md-9">
{% for icon in detailed.icons %}
<i class="fa fa-{{icon}}"></i>
{% endfor %}

   {% if detailed.this_session %}Right now (this session){% else %}<b>{% include "snippets/timestamp.html" with timestamp=detailed.session.last_seen %}</b>{% endif %}<br/>
 from <b>{{ detailed.session.remote_ip }}</b> ({{ detailed.geo }})<br/>
 with <b><span class="tooltip-link" title="{{ detailed.browser.ua }}">{{ detailed.browser.get_readable_ua }}</span></b> {% if detailed.browser.save_browser %}(<span class="tooltip-link" title="You have marked this browser as 'remembered'">remembered</span>){% endif %}<br/>
{% if detailed.browser.name %}
<i><a href="#" data-toggle="modal" data-target="#browser_name_{{ detailed.browser.bid_public }}">{{ detailed.browser.name }}</a></i>
{% else %}
<button class="btn btn-link" data-toggle="modal" data-target="#browser_name_{{ detailed.browser.bid_public }}">Rename this browser</button>
{% endif %}
<ul>
{% for login in detailed.logins %}
<li><span data-toggle="popover" 
          data-placement="bottom" 
          class="popover-link" 
          data-trigger="hover" 
          title="Details for {{ login.sso_provider }}" 
          data-content='Signing out this browser will not sign out this session.
{% if login.message %}It was used to log in to {{ login.message }}.
{% elif login.remote_service %}It was used to log in to "{{ login.remote_service }}".{% endif %}
{% if login.expires_session %}When the browser is closed, the session is automatically destroyed.{% endif %}
'>{{ login.sso_provider }} {% include "snippets/timestamp.html" with timestamp=login.auth_timestamp notooltip="true" %}</span>
{% if login.expires_at %}- expires {% include "snippets/timestamp.html" with timestamp=login.expires_at %}{% endif %}
{% if login.message %} to {{ login.message }}{% endif %}
</li>
{% empty %}
<li><span data-toggle="popover" 
          data-placement="top" 
          class="popover-link" 
          data-trigger="hover" 
          title="No unrevocable logins" 
          data-content="No unrevocable logins associated with this session. If you sign out this session, no harm can be done."
     >No unrevocable logins</span></li>
{% endfor %}
</ul>

</div>
<div class="col-md-3">
<form role="form" class="" method="post" action="{% if detailed.this_session %}{% url 'login_frontend.views.logoutview' %}{% else %}{% url 'login_frontend.views.sessions' %}{% endif %}?{{ get_params }}">
{% csrf_token %}
<input type="hidden" name="logout" value="{{ detailed.browser.bid_public }}">
<button type="submit" class="btn-block btn btn-danger">Sign out</button>
</form>
<a class="btn btn-block btn-primary" href="{% url 'login_frontend.views.view_log' detailed.browser.bid_public %}">View log</a>
<button class ="btn btn-block btn-primary" data-toggle="modal" data-target="#browser_info_{{ detailed.browser.bid_public }}">View info</button>
</div>
</div>
</li>
{% endfor %}
</ul>
</div>

{% endblock %}
