{% extends "login_frontend/base.html" %}

{% load ip_to_geoip %}

{% block container %}

<h1>Your log entries</h1>

{% if this_browser %}
<p>This is log for your browser <span class="tooltip-link" title="{{ this_browser.ua }}">{{ this_browser.get_readable_ua }}</span>.</p>

<p><a class="btn btn-primary" href="{% url 'login_frontend.views.view_log' %}">View all log entries</a></p>
{% endif %}

{% if entries %}

{% if entries.pagerange %}
<ul class="pagination">   
 {% if entries.has_previous %}
 <li><a href="?page={{ entries.previous_page_number }}">&laquo; Newer</a></li>
 {% else %}
 <li class="disabled"><a href="#">&laquo; Newer</a></li>
 {% endif %}
 {% for page in entries.pagerange %}
 <li{% if entries.number == page %} class="active"{% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
 {% endfor %}

 {% if entries.has_next %}
 <li><a href="?page={{ entries.next_page_number }}">Older &raquo;</a></li>
 {% else %}
 <li class="disabled"><a href="#">Older &raquo;</a></li>
 {% endif %}
</ul>
{% endif %}

<div class="table-responsive">
<table class="table table-striped">
<thead>
<tr>
<th>Timestamp</th>
<th>Location</th>
<th></th>
<th>Message</th>
<th></th>
</tr>
</thead>
<tbody>
{% for entry in entries %}
<tr>
<td><span class="tooltip-link" title="{{ entry.timestamp|timesince }} ago">{{ entry.timestamp }}</span></td>
<td><span class="tooltip-link" title="{{ entry.remote_ip }}">{{ entry.remote_ip|ip_to_geoip }}</span></td>
<td><span class="tooltip-link" title="{{ entry.browser.ua }}">{% for icon in entry.browser.get_ua_icons %} <i class="fa fa-{{icon}}"></i>{% endfor %}</a></td>
<td>{{ entry.message }}</td>
<td><i class="fa fa-{{ entry.status }}"></i></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

{% if entries.pagerange %}
<ul class="pagination">   
 {% if entries.has_previous %}
 <li><a href="?page={{ entries.previous_page_number }}">&laquo; Newer</a></li>
 {% else %}
 <li class="disabled"><a href="#">&laquo; Newer</a></li>
 {% endif %}
 {% for page in entries.pagerange %}
 <li{% if entries.number == page %} class="active"{% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
 {% endfor %}

 {% if entries.has_next %}
 <li><a href="?page={{ entries.next_page_number }}">Older &raquo;</a></li>
 {% else %}
 <li class="disabled"><a href="#">Older &raquo;</a></li>
 {% endif %}
</ul>
{% endif %}

<p>
{% for your_browser in browsers %}
{% if not your_browser == this_browser %}
<a href="{% url 'login_frontend.views.view_log' your_browser.bid_public %}">{{ your_browser.get_readable_ua }}</a>
{% if not forloop.last %} - {% endif %}
{% endif %}
{% endfor %}
</p>
{% else %}
<p>There isn't a single log entry for you.</p>
{% endif %}

{% endblock %}
