{% extends "base.html" %}

{% load compress %}

{% block header %}
{% compress js %}
<script src="/static/js/jquery.form.min.js"></script>
<script src="/static/js/datacollection.js"></script>
<script src="/static/js/timesync.js"></script>
{% endcompress %}
{% endblock %}

{% block og_headers %}
<meta property="og:title" content="Location data and typing speed survey" />
<meta property="og:description" content="This page collects interesting data for my thesis. Want to know your typing accuracy?" />
<meta name="description" content="This page collects interesting data for my thesis. Want to know your typing accuracy?" />
<meta property="og:type" content="website" />
{% endblock %}

{% block messages %}
{% endblock %}
{% block title %}Data - {% endblock %}
{% block content %}

<h1>Data collection</h1>

<p>This page collects data for <a href="mailto:olli@jarva.fi">Olli Jarva</a>'s thesis. If you have any questions, please send <a href="mailto:olli@jarva.fi">email</a>, or ask on <a href="https://twitter.com/ojarva">twitter</a>.</p>

<p><strong>Why should you participate?</strong>
    Your data really makes a difference.
    If you want to get some results, please enter your email address to the form at the end of the page.<br/>
    &nbsp;&nbsp;Strictly anonymized data will be published under <a href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> license. No identifying information will be published, or even shared to anyone without strict non-disclosure agreement (NDA).
</p>

<h2 class="page-header">Record your location</h2>

<dl class="dl-horizontal">
    <dt>What is recorded?</dt>
    <dd>Your IP address and location.</dd>
    <dt>Why?</dt>
    <dd>To validate the accuracy of geoip/WHOIS data. Public studies does not seem to exist.</dd>
    <dt>Anonymizing?</dt>
    <dd>Your exact location won't be shared. Enough noise will be added. Your exact IP address won't be shared.</dd>
</dl>

<div id="enable-location">

    <p>The data is handled confidentially - no identifying information will be published. If you click this button, the browser will ask for authorization. The location is only recorded if you explicitly allow it. <i>Don't want to share? Just skip to next step.</i></p>

    <div class="hidden" id="location-error">
        <div class="alert alert-warning" id="location-error-message">Oops. An error occured. Maybe you denied access to your location? That's totally okay - just continue to the next step. If you still want to share it, you have to refresh this page.</div>

        <div id="location-error-extra"></div>

    </div>

    <p><button id="enable-location-btn" class="btn btn-primary"><i id="share_location_icon" class="fa fa-location-arrow"></i> Record  location</button></p>
</div>

<div id="no_location_available" class="hidden">
    <p>It seems your browser does not support geolocation API, so it is not possible to locate you. You can select your connection type below and continue to the keystroke timing.</p>
</div>

<div id="enable-location-thanks" class="hidden">
    <div class="alert alert-success">Your location was successfully recorded. <strong>Please visit this site again</strong> from other locations and from different networks (for example, wifi or wired network). If you visit this site again, your location is automatically recorded. You can disable this from your browser preferences at any time. {% if location_auto_enabled %}<span class="tooltip-link" title="This notice is only visible for signed-in users">This was executed automatically, as you have opted in to sharing your location under <a href="{% url 'login_frontend.views.configure' %}">settings</a>.</span>{% endif %}</div>

    <div id="location-geoip"></div>


    {% if not location_auto_enabled and username and first_name %}
        <p class="tooltip-link" title="This question is only visible for signed-in users">Want to <a href="#" id="enable_location_sharing">enable this by default</a> (for {{ first_name }})?</p>
    {% endif %}
</div>

<form method="post" action="/data" id="connection_type_form">
    {% csrf_token %}
    <div class="form-group">
        <label for="connection_type" class="control-label"> Your connection type</label>
            <select class="form-control" name="connection_type">
                <option>Please select one</option>
                <option>ADSL / home network</option>
                <option>Mobile network (3G/4G/...)</option>
                <option>Corporate</option>
                <option>Public Wifi</option>
                <option>VPN</option>
                <option>Other / unknown</option>
            </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info">Save</button>
        <p class="help-block hidden" id="connection_type_form_saved">Saved.</p>
    </div>
</form>


<h2 class="page-header">Keystroke timing</h2>

<dl class="dl-horizontal">
    <dt>What is recorded?</dt>
    <dd>Timing of entering each key. <button class="btn btn-xs btn-default popover-link" data-trigger="hover" data-placement="top" title="Keystroke timing sample" data-html="true" data-content="<code>Time,key<br>
3160ms, 7<br>
3352ms, 0<br>
3560ms, 1<br>
4048ms, 3<br>
4480ms, 8<br>
4712ms, 8<br>
4843ms, 0</code>">Show sample</button></dd>
    <dt>Why?</dt>
    <dd>The algorithm behind this needs calibration data. Only one public database exists, and it's rather limited. This data creates a bit different one.</dd>
    <dt>Anonymizing?</dt>
    <dd>Keystroke timing does not include identifying information. It's not combined to any other data (like IP address or your location).</dd>
</dl>

<p>Enter <kbd id="password_choice">.tie5Roanl</kbd> (<a href="#" class="another_password">want to skip this and continue with next one?</a>) to the field below and press enter (or "Send") as many times as you want to - more is better. There's <span class="tooltip-link" title='"7013880", "ohsiF7ux", "futurice", "qwerty", "How is your day?", ".tie5Roanl", "This data is really useful!"'>7 different passwords</span> available - if you could enter each of those at least ten times, that would be really great!</p>

<form method="post" action="/data" id="keystroke_timing_form">
    {% csrf_token %}
    <input type="hidden" name="keystroke_timing_data" id="id_keystroke_timing_data">
    <input type="hidden" name="password_choice" id="id_password_choice" value=".tie5Roanl">
    <div class="form-group">
        <input type="text" class="form-control" name="password" id="id_password"  autocomplete="off">
    </div>
    <button id="id_keystroke_submit" type="submit" class="btn btn-primary">Send</button>
</form>

<p><span class="label label-info" id="keystroke_samples">0</span> sample(s) sent.</p>

<p class="hidden" id="maybe_change_password">You've already entered this password quite many times. <a href="#" class="another_password">Want to try another?</a></p>

<h2 class="page-header">Background information</h2>

<dl class="dl-horizontal">
    <dt>What?</dt>
    <dd>All answers are optional. These answers supplement the data collected in previous steps.</dd>
    <dt>Anonymizing?</dt>
    <dd>Emails are not shared with anyone. Device type is linked to keystroke timing. VPN information is linked to location information.</dt>
</dl>

<hr/>

<form id="background_form" method="post" class="form-horizontal" role="form">
    {% csrf_token %}
    <input type="hidden" name="background_form" value="true">
    <div class="form-group">
        <label for="email" class="col-sm-4 control-label">Email</label>
        <div class="col-sm-8">
            <input type="email" class="form-control listen_changes" id="id_email" name="email" placeholder="(Optional)">
            <p class="help-block">Want to receive awesome report of the data provided by you? Fill in your email. If you do, it will be attached to the data until the report is generated and sent (within a few weeks) and then immediately <i>discarded</i>. If you don't, the data is stored anonymously.</p>
        </div>
    </div>
    <div class="form-group">
        <label for="device_type" class="col-sm-4 control-label">Device type</label>
        <div class="col-sm-8">
            <select class="listen_changes form-control" name="device_type" id="id_device_type">
                <option>Please select</option>
                <option>Phone</option>
                <option>Tablet</option>
                <option>Laptop with external keyboard/display</option>
                <option>Laptop</option>
                <option>Desktop</option>
                <option>Something else</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4">
            <p class="text-right"><strong>Do you currently use VPN or proxy?</strong></p>
        </div>
        <div class="col-sm-8">
            <label class="radio-inline">
              <input class="listen_changes" type="radio" name="vpn" id="vpn_yes" value="yes"> Yes
            </label>
            <label class="radio-inline">
              <input class="listen_changes" type="radio" name="vpn" id="vpn_no" value="no"> No
            </label>
            <label class="radio-inline">
              <input class="listen_changes" type="radio" name="vpn" id="vpn_not_sure" value="not_sure"> Not sure
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-8">
            <textarea class="form-control" name="feedback" id="id_feedback" rows="3" placeholder="Free comments/feedback/notes (optional)"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-4">
            <button type="submit" class="btn btn-primary">Save</button>
            <p class="help-text" id="background_saved"></p>
        </div>
    </div>
</form>


<form id="browser_details_form" class="hidden" method="post" action="/data/browser_details">
    {% csrf_token %}
<input id="id_browser_details" name="browser_details" type="hidden" value="">
</form>

<p id="timesync_report""></p>

<p>&nbsp;</p>

<p>You're done! What now? If you are willing to share your location information, please visit this page again from other locations/networks. Share this page on <a href="https://www.facebook.com/sharer/sharer.php?u=http://j.mp/1d9xbv6"><i class="fa fa-facebook"></i> Facebook</a>/<a href="https://twitter.com/intent/tweet?url=http://j.mp/1d9xbv6&text=Take%20a%20moment%20to%20participate%20this%20small%20study:"><i class="fa fa-twitter"></i> Twitter</a>/... and to your friends/colleagues/...</p>

<p>&nbsp;</p>

<p><small>If you want to remove the data related to this session, please contact <a href="mailto:{{ admin_email }}">{{ admin_email }}</a> and mention "{{ data_id }}".</small></p>

{% endblock %}
