{% extends "base.html" %}

{% load compress %}

{% block header %}
{% compress js %}
<script src="/static/js/jquery.form.min.js"></script>
<script src="/static/js/datacollection_location_only.js"></script>
<script src="/static/js/timesync.js"></script>
{% endcompress %}
{% endblock %}

{% block messages %}
{% endblock %}
{% block title %}Data - {% endblock %}
{% block content %}

<h1 class="page-header">Record your location</h1>


<div id="enable-location">

    <div class="hidden" id="location-error">
        <div class="alert alert-danger" id="location-error-message">You can't finish this task without sharing your location.</div>

        <div id="location-error-extra"></div>

    </div>

    <p><button id="enable-location-btn" class="btn btn-primary"><i id="share_location_icon" class="fa fa-location-arrow"></i> Record  location</button></p>
</div>

<div id="no_location_available" class="hidden">
    <div class="alert alert-danger">Your browser does not support geolocation API. You can't finish this task.</div>
</div>

<div id="enable-location-thanks" class="hidden">
    <div class="alert alert-success">
        <div id="location-geoip"></div>
    </div>
</div>


<form id="browser_details_form" class="hidden" method="post" action="/data/browser_details">
    {% csrf_token %}
<input id="id_browser_details" name="browser_details" type="hidden" value="">
</form>

{% endblock %}
