{% extends "base.html" %}
{% block header %}
<script src="/static/js/jquery.form.min.js"></script>
<script src="/static/js/datacollection.js"></script>
{% endblock %}

{% block messages %}
{% endblock %}
{% block title %}Data - {% endblock %}
{% block content %}

<h1>Data collection</h1>

<p>This page collects data for <a href="mailto:olli@jarva.fi">Olli Jarva</a>'s thesis. Participating is voluntary. No identifying information (for example, IP addresses) will be published, or even shared to anyone without non-disclosure agreement.</p>

<h2 class="page-header">Record your location</h2>
<div id="enable-location">

    <p>This data is used to validate the accuracy of geoip/WHOIS data. The data is handled confidentially - no identifying information will be published. If you click this button, the browser will ask for authorization. The location is only recorded if you explicitly allow it. {% if username and user and not user.location_authorized %}If you want to, you can visit <a href="{% url 'login_frontend.views.configure' %}">settings</a> to enable this permanently.{% endif %}</p>

    <div class="hidden alert alert-warning" id="location-error">Oops. An error occured. Maybe you denied access to your location? That's totally okay. If you still want to share it, you have to refresh this page.</div>

    <p><button id="enable-location-btn" class="btn btn-primary"><i id="share_location_icon" class="fa fa-location-arrow"></i> Record  location</button></p>
</div>

<div id="no_location_available" class="hidden">
    <p>It seems your browser does not support geolocation API, so it is not possible to locate you.</p>
</div>

<div id="enable-location-thanks" class="hidden">
    <div class="alert alert-success">Your location was successfully recorded. <b>Please visit this site again</b> from other locations and from  different networks (for example, wifi or wired network). If you visit this site again, your location is automatically recorded. You can disable this from your browser preferences at any time.</div>
</div>


<h2 class="page-header">Keystroke timing</h2>

<p>Keystroke timing records timestamps for entering text. Keystroke timing is (relatively) unique, and hard to imitate. To fine-tune keystroke identifying, more data is needed.</p>

<p>Enter <kbd id="password_choice">7013880</kbd> (<a href="#" class="another_password">want another?</a>) to the field below as many times as you want to - more is better. Try to hit it correctly, but if you make a mistake, it does not matter, just do enter it again. Press enter to clean the field and start over. There's 7 different passwords available - having ten samples for each password would be really great!</p>

<form method="post" action="/data" id="keystroke_timing_form">
    <input type="hidden" name="timing_data" id="keystroke_timing_data">
    <input type="hidden" name="password_choice" id="id_password_choice" value="7013880">
    <div class="form-group">
        <input type="text" class="form-control" name="password" id="id_password"  autocomplete="off">
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>

<p><span class="label label-info" id="keystroke_samples">0</span> sample(s) sent.</p>

<p class="hidden" id="maybe_change_password">You've already entered this password quite many times. <a href="#" class="another_password">Want to try another?</a></p>

<h2 class="page-header">Background information</h2>

<p>All answers are optional. All input is automatically saved.</p>

<form id="background_form" method="post" class="form-horizontal" role="form">
    {% csrf_token %}
    <input type="hidden" name="background_form" value="true">
    <div class="form-group">
        <label for="email" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-9">
            <input type="email" class="form-control listen_changes" id="id_email" name="email">
            <p class="help-block">Want to receive some results later on? Fill in your email.</p>
        </div>
    </div>
    <div class="form-group">
        <label for="device_type" class="col-sm-3 control-label">Device type</label>
        <div class="col-sm-9">
            <select class="listen_changes form-control" name="device_type">
                <option>Please select</option>
                <option>Phone</option>
                <option>Tablet</option>
                <option>Laptop with external keyboard/display</option>
                <option>Laptop</option>
                <option>Desktop</option>
                <option>Something else</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            Do you currently use VPN or proxy?
        </div>
        <div class="col-sm-9">
            <label class="radio-inline">
              <input class="listen_changes" type="radio" name="vpn" id="vpn_yes" value="yes"> Yes
            </label>
            <label class="radio-inline">
              <input class="listen_changes" type="radio" name="vpn" id="vpn_no" value="no"> No
            </label>
            <label class="radio-inline">
              <input class="listen_changes" type="radio" name="vpn" id="vpn_not_sure" value="not_sure"> Not sure
            </label>
        </div>
    </div>
    {% if uptime %}
    <div class="form-group">
        <label for="id_uptime" class="col-sm-3 control-label">Your device uptime?</label>
        <div class="col-sm-9">
            <input type="text" name="uptime" id="id_uptime" class="listen_changes form-control">
            <p class="help-block">Our guess is {{ uptime }}. <a target="_window" href="{% url 'get_uptime' %}">How to get this?</a></p>
        </div>
    </div>
    {% endif %}
</form>


<form id="browser_details_form" class="hidden" method="post" action="/data/browser_details">
    {% csrf_token %}
<input id="id_browser_details" name="browser_details" type="hidden" value="">
</form>


<p><small>If you want to remove the data related to this session, please contact <a href="mailto:{{ admin_email }}">{{ admin_email }}</a> and mention "{{ data_id }}".</small></p>

{% endblock %}
