{% include "snippets/pagination.html" %}

<table class="table table-striped table-responsive">
<thead>
<tr>
<th>Active user</th>
<th></th>
<th>User agent</th>
<th>First seen</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
{% for abrowser in entries %}
<tr>
<td>{% if abrowser.user %}<a href="{% url 'admin_frontend.views.userdetails' abrowser.user.username %}">{{ abrowser.user.username }}</a>{% endif %}</td>
<td>{% for icon in abrowser.get_ua_icons %}<i class="fa fa-{{ icon }}"></i>{% endfor %}</td>
<td><span class="tooltip-link" title="{{ abrowser.ua }}">{{ abrowser.get_readable_ua }}</span></td>
<td>{% include "snippets/timestamp.html" with timestamp=abrowser.created %}</td>
<td><a class="btn btn-sm btn-info" href="{% url 'admin_frontend.views.browserdetails' abrowser.bid_public %}">Details</a> 
{% if abrowser.user %}<button class="btn btn-sm btn-danger" disabled>Logout</button>{% endif %}
</td>
</tr>
{% endfor %}
</tbody>
</table>
