syntax: glob
data.db
*/build/*
local_settings.py
*.pyc
*.log
*.pid
sso_frontend/login_frontend/ldap_local_settings.py
sso_frontend/login_frontend/send_sms.py
sso_frontend/login_frontend/local_settings.json
sso_frontend/static/admin
sso_frontend/static/CACHE
sso_frontend/logs
sso_frontend/saml2idp/keys/*.pem
