{% extends "openid_provider/base.html" %}

{% block content %}
{% ifequal trust_root_valid "Valid" %}
  <!-- Trust root has been validated by OpenID 2 mechanism. -->
<div class="alert alert-success">
  The site <tt>{{ trust_root|escape }}</tt> has requested your
  OpenID information. Site has been verified.
</div>
{% endifequal %}
{% ifequal trust_root_valid "Invalid" %}
<div class="alert alert-error">
  <p>Validation of <tt>{{ trust_root|escape }}</tt> failed.</p>

</div>

<p>Beware, this might be scam. If you release your information, they might use it for something nasty.</p>

<p>Please contact service provider and/or Futurice IT team.</p>
{% endifequal %}
{% ifequal trust_root_valid "Unreachable" %}
<div class="alert alert-warning">
  <p>Validating {{ trust_root|escape }} did not succeed, as the site was unreachable.</p>
</div>

<p>You can still release your information to this site, but there's no guarantee of it's authenticity.</p>
{% endifequal %}

{% ifequal trust_root_valid "DISCOVERY_FAILED" %}
<div class="alert alert-warning">
  <p>Unable to verify authenticity of <tt>{{ trust_root|escape }}</tt>.</p>
</div>

<p>You can still release your information to this site, but there's no guarantee of it's authenticity.
The site does not implement OpenID 2.0's relying party verification mechanism.</p>

{% comment %}  <p>You will return to <tt>{{ return_to|escape }}</tt></p>{% endcomment %}
{% endifequal %}

<p>Following information will be released:</p>

<ul>
<li><b>email</b>: {{ sreg.email }}</li>
<li><b>username</b>: {{ sreg.nickname }}</li>
<li><b>full name</b>: {{ sreg.fullname }}</li>
</ul>

<form method="post">{% csrf_token %}
Verify your identity to the relying party?
<br/>
<input type="hidden" name="decide_page" value="True" />
<input class="btn btn-default" type="submit" value="Yes (Continue)" name="allow" />
<input class="btn btn-default" type="submit" value="No (Abort)" name="cancel" />
</form>
{% endblock %}
