{% extends "openid_provider/base.html" %}

{% block header %}
{% if vulnerability.priority != "mandatory" %}
    <script src="/static/js/saml.js" type="text/javascript"></script>
{% endif %}
{% endblock %}

{% block content %}
<div id="openid-body">
  {{ body|safe }}
</div>
{% comment %}
// the url is too long (> 2047) to be submitted via GET. It needs to be POSTed.
  // the should not require to click the "Continue"-Button, therefore we submit it via js
  // TODO: implement this to conform CSP.
//  document.getElementById('openid-body').getElementsByTagName('form')[0].submit();
{% endcomment %}
{% endblock %}
