{% extends "base.html" %}

{% block content %}

{% include 'snippets/main_infobox.html' %}
{% if forced_sign_out %}
	<div class="alert alert-warning">
		<i class="fa fa-exclamation-triangle"></i> You - or administrator - remotely signed out this browser. Please sign in again.
	</div>
{% endif %}

{% if enable_cookies %}
	<div class="alert alert-danger">
		Please enable cookies. You're not able to sign in without properly working cookies.
	</div>
{% endif %}
{% if authentication_failed %}
	<div class="alert alert-danger">
		Invalid username or password.
	</div>
{% endif %}
{% if login_timeout %}
	<div class="alert alert-warning">
		Your session has ended due to a timeout. Please sign in again.
	</div>
{% elif unauth %}
	<div class="alert alert-danger">
		You don&apos;t have permission to access the desired resource on
		{{ destination_host }}<br>You may try signing in again
		with different credentials.
	</div>
{% endif %}
{% if message %}
	<div class="alert alert-warning">
               {{ message }}
	</div>
{% endif %}

{% if basic_only %}
<div class="alert alert-success">
Additional authentication is required. Please verify your identity with your password.
</div>
{% endif %}

<div class="row">
<div class="col-md-8 col-centered">
<form class="form-horizontal" role="form" name="loginform" method="POST" action="{% url 'login_frontend.views.authenticate_with_password' %}?{{ get_params }}">
  {% csrf_token %}
  <div class="form-group">
    <label for="id_otp" class="col-sm-3" control-label">Username</label>
    <div class="col-sm-8">
{% if basic_only %}
       <span class="tooltip-link" title="Not {{ first_name }}? Click 'Sign out' to change user">{{ username }}</span>
{% else %}
       <input id="id_username" name="username" type="text" class="autofocus form-control">
{% endif %}
       <span id="id_username_icon"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="id_otp" class="col-sm-3" control-label">Password</label>
    <div class="col-sm-8">
       <input id="id_password" name="password" type="password" class="{% if basic_only %}autofocus{% endif %} form-control">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-8">
       <button class="btn btn-large btn-primary" type="submit">Sign in</button>
    </div>
  </div>

{% if not emulate_legacy %}
  <div class="form-group">
      <div class="checkbox">
        <label>

          <input name="my_computer" {% if my_computer %} checked="on" {% endif %} type="checkbox"> <span class="tooltip-link" title="If you check this, you don't have to 
login again after closing the browser. Only use on your own personal computer!">Remember me on this computer</span>

        </label>
      </div>
  </div>
{% endif %}
</form>

{% if basic_only %}
<p><form method="post" action="{% url 'login_frontend.views.logoutview' %}?{{ get_params }}">{% csrf_token %}<button class="btn btn-link">Not {{ first_name }}?</button></form></p>
{% endif %}

</div>
</div>

{% endblock %}
