{% extends "base.html" %}

{% block content %}

<div class="alert alert-warning">
Heads up! This is a beta version of login.futurice.com, in use for a short period of time this evening. Something might be broken. And this will disappear soon.
</div>
{% if server_not_allowed %}
	<div class="alert alert-warning">
		The specified return URL to {{ destination_host }} is invalid. You can still sign in, but your browser will stay on this login server.
	</div>
{% endif %}
{% if enable_cookies %}
	<div class="alert alert-danger">
		Please enable cookies. You're not able to sign in without properly working cookies.
	</div>
{% endif %}
{% if authentication_failed %}
	<div class="alert alert-danger">
		Invalid username or password.
	</div>
{% elif login_timeout %}
	<div class="alert alert-warning">
		Your session has ended due to a timeout. Please sign in again.
	</div>
{% elif unauth %}
	<div class="alert alert-danger">
		You don&apos;t have permission to access the desired resource on
		{{ destination_host }}<br>You may try signing in again
		with different credentials.
	</div>
{% elif logout %}
	<div class="alert alert-success">
		You successfully signed out.
	</div>
{% endif %}
{% if message %}
	<div class="alert alert-warning">
               {{ message }}
	</div>
{% endif %}

<div class="row">
<div class="col-md-8 col-centered">
<form class="form-horizontal" role="form" name="loginform" method="POST" action="{% url 'login_frontend.views.authenticate_with_password' %}?{{ get_params }}">
  {% csrf_token %}
  <div class="form-group">
    <label for="id_otp" class="col-sm-3" control-label">Username</label>
    <div class="col-sm-8">
       <input id="id_username" name="username" type="text" class="form-control">
       <span id="id_username_icon"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="id_otp" class="col-sm-3" control-label">Password</label>
    <div class="col-sm-8">
       <input id="id_password" name="password" type="password" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-8">
       <button class="btn btn-large btn-primary" type="submit">Sign in</button>
    </div>
  </div>

{% if legacy_mode %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input name="my_computer" {% if my_computer %}checked="on" {% endif %} type="checkbox"> Remember me on this computer
        </label>
      </div>
    </div>
  </div>
{% endif %}
</form>

</div>
</div>

{% endblock %}
