{% extends "base.html" %}

{% block header %}
<script src="/static/js/otp.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

<div class="row">
<div class="col-md-8 col-centered">
<h3>SMS</h3>

{% if authentication_failed %}
<div class="alert alert-danger">
Incorrect one-time code.
</div>
{% endif %}


{% if primary_phone_changed %}
<div class="alert alert-warning">
Your phone number has changed. For security reasons, you must reconfigure strong authentication.
</div>

<p>You should receive SMS message with one-time password #{{ expected_sms_id }} shortly. Please enter the code below. On the next step, you can set your preferences for authentication. After that, you'll be redirected back to service you tried to access.</p>

{% elif strong_not_configured %}
<div class="alert alert-warning">
You have not configured strong authentication.
</div>

<p>You should receive SMS message with one-time password #{{ expected_sms_id }} shortly. Please enter it below. On the next step, you can set your preferences for authentication. After that, you'll be redirected back to service you tried to access.</p>

<p><a target="_window" href="{% url 'introduction' %}">What is strong authentication?</a></p>
{% elif authentication_failed %}
<p>You're authenticating with SMS code. You should enter 5-digit code #{{ expected_sms_id }}. Older messages are not valid anymore.</p>
{% else %}
You should receive SMS containing one-time password shortly. Please enter it below. It should be #{{ expected_sms_id }}.
{% endif %}



<form role="form" name="loginform" method="POST" action="{% url 'login_frontend.views.authenticate_with_sms' %}?{{ get_params }}">
  {% csrf_token %}
  <div class="form-group control-group">
    <label for="id_otp" control-label">OTP</label>
    <input class="form-control autofocus" id="id_otp" placeholder="Please enter numeric OTP" title="You should enter 6-digit one-time password here." name="otp" type="tel" data-len="5-6" pattern="[0-9 ]*" autocomplete='off' />
    <span class="glyphicon form-control-feedback"></span>
  </div>
  <div class="form-group">
       <button class="btn btn-large btn-primary" type="submit">Sign in <span class="glyphicon glyphicon-remove-circle"></span></button>
  </div>
  <div class="form-group">
      <div class="checkbox">
        <label>
          <input name="my_computer" {% if my_computer %} checked="on" {% endif %} type="checkbox"> <span class="tooltip-link" title="If you check this, you don't have to 
login again after closing the browser. Only use on your own personal computer!">Remember me on this computer</span>
        </label>
      </div>
  </div>
</form>
<p><form method="post" action="{% url 'login_frontend.views.logoutview' %}?{{ get_params }}">{% csrf_token %}<button class="btn btn-link">Not {{ first_name }}?</button></form></p>

{% if not strong_not_configured %}
<p><small>Want to <a href="{% url 'login_frontend.views.authenticate_with_authenticator' %}?{{ get_params }}">use Authenticator</a> instead of SMS?</small></p>
{% endif %}
{% endblock %}
