{% extends "base.html" %}

{% block content %}
{% if enable_cookies %}
	<div class="alert alert-error">
		Please enable cookies. You're not able to sign in without properly working cookies.
	</div>
{% endif %}

{% if invalid_otp %}
	<div class="alert alert-error">
		Invalid one-time code. You're authenticating with Authenticator password. You should enter 6-digit one-time password from your mobile app.
	</div>
{% endif %}

{% if message %}
	<div class="alert alert-warning">
               {{ message }}
	</div>
{% endif %}

<form class="form-signin" name="loginform" method="POST" action="{% url 'login_frontend.views.authenticate_with_authenticator' %}?{{ get_params }}">
	{% csrf_token %}
	{{ form }}
	<button class="btn btn-large btn-primary" type="submit">Sign in</button>
</form>


<p>Problems with Authenticator app? <a href="{% url 'login_frontend.views.authenticate_with_sms' %}?{{ get_params }}">Authenticate with SMS</a>.</p>

{% endblock %}
