<html>
<head>
<title>Futurice Single Sign-On</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block header %}{% endblock %}
</head>


<body>

<div class="container">

	<div class="info-boxes">
		<img class="logo hidden-xs" src="/static/img/futurice-logo.png">
		<img class="logo visible-xs" src="/static/img/futurice-logo-small.png">

{% block content %}

{% endblock %}

	</div>
</div>
</body>
</html>
