{% extends "base.html" %}

{% block content %}
{% if enable_cookies %}
	<div class="alert alert-danger">
		Please enable cookies. You're not able to sign in without properly working cookies.
	</div>
{% endif %}


{% if message %}
<div class="alert alert-warning">
	{{ message }}
</div>
{% endif %}

{% if not user.strong_configured %}
<h2>Configure Strong Authentication</h2>

{% if back_url %}
<p><a href="{{ back_url }}" class="btn btn-info">Skip for now</a></p>
{% endif %}

<p>It appears you haven't configured strong authentication. 
{% if back_url %} If you want to, you can do this later. <a href="{{ back_url }}">Go back to service you tried to access</a>.{% endif %}
 This screen will be shown to you every time you login, until you select your preferences below.</p>

{% else %}
{% if back_url %}
<p><a href="{{ back_url }}" class="btn btn-info">Continue to service you tried to access</a></p>
{% endif %}
{% endif %}


{% if not user.strong_authenticator_secret %}

<p>You don't have Google Authenticator configured, or your configuration was revoked. Google Authenticator generates one-time passwords on your phone. That's faster and more reliable than receiving SMS messages.</p>

{% if not user.strong_sms_always %}
<p>If you want to, you can also opt for always receiving SMS message:</p>

<form name="loginform" method="POST" action="{% url 'login_frontend.views.configure_strong' %}?{{ get_params }}">
        {% csrf_token %}
        <input type="hidden" name="always_sms" value="on"><button class="btn btn-warning" type="submit">Always use SMS messages</button>
</form>
{% endif %}

<p>If you want to make your life a bit easier, you can

<form name="loginform" method="POST" action="{% url 'login_frontend.views.configure_authenticator' %}?{{ get_params }}">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Configure Google Authenticator</button>
</form>

{% else %}

<p>You have Google Authenticator configured.</p>

<p>If you want to, you can opt to always use SMS messages instead:</p>

<form name="loginform" method="POST" action="{% url 'login_frontend.views.configure_strong' %}?{{ get_params }}">
        {% csrf_token %}
        <input type="hidden" name="always_sms" value="on"><button class="btn btn-warning" type="submit">Revoke and always use SMS messages</button>
</form>

<p>If you don't have Google Authenticator configured anymore - for example, after reinstalling or changing the phone - you can reconfigure it:</p>
<form name="loginform" method="POST" action="{% url 'login_frontend.views.configure_authenticator' %}?{{ get_params }}">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Reconfigure Google Authenticator</button>
</form>




{% endif %}


<h2>Your active sessions</h2>

<div class="panel panel-default">

<div class="panel-body">

<p>Here are all your active sessions. Do note that signing out does not sign out from all external services. For example, if you (or someone else) signed in to Google Apps, or to any OpenID service, those will still be valid.</p>

<p>You can also terminate all sessions, excluding this one: 
 <form method="post" action="{% url 'login_frontend.views.configure_strong' %}?{{ get_params }}">
  {% csrf_token %}
  <input type="hidden" name="logout" value="{{ detailed.browser.bid_public }}">
  <button type="submit" class="btn-large btn btn-danger">Sign out all my sessions</button>
 </form>
</p>
</div>

<ul class="list-group">
<li class="list-group-item"></li>
{% for detailed in sessions %}
<li class="list-group-item">
<div class="row">
<div class="col-md-9">
   At <b>{{ detailed.session.last_seen }}</b> ({% if detailed.this_session %}this session{% else %}{{ detailed.session.last_seen|timesince }} ago{% endif %}) <br>
 from <b>{{ detailed.session.remote_ip }}</b> ({{ detailed.geo }})<br>
 with <b>{{ detailed.browser.get_readable_ua }}</b> {% if detailed.browser.save_browser %}(<span class="tooltip-link" title="You have marked this browser as 'remembered'">remembered</span>){% endif %}

<ul>
{% for login in detailed.logins %}
<li><span data-toggle="popover" 
          data-placement="bottom" 
          class="popover-link" 
          data-trigger="hover" 
          title="Details for {{ login.sso_provider }}" 
          data-content="Signing out this browser will not sign out this session.
{% if login.remote_service %}It was used to log in to '{{ login.remote_service }}'.{% endif %}
{% if login.expires_at %}Session will expire at {{ login.expires_at }}.{% endif %}
{% if login.expires_session %}Alternatively, when the browser is closed, the session is automatically destroyed.{% endif %}
"
    >{{ login.sso_provider }} at {{ login.auth_timestamp }}</span></li>
{% empty %}
<li><span data-toggle="popover" 
          data-placement="top" 
          class="popover-link" 
          data-trigger="hover" 
          title="No unrevocable logins" 
          data-content="No unrevocable logins associated with this session. If you sign out this session, no harm can be done."
     >No unrevocable logins <span class="glyphicon glyphicon-question-sign glyphicon-small btn-sm"></span></span></li>
{% endfor %}
</ul>

</div>
<div class="col-md-3">
<form role="form" class="" method="post" action="{% if detailed.this_session %}{% url 'login_frontend.views.logoutview' %}{% else %}{% url 'login_frontend.views.configure_strong' %}{% endif %}?{{ get_params }}">
{% csrf_token %}
<input type="hidden" name="logout" value="{{ detailed.browser.bid_public }}">
<button type="submit" class="btn-sm btn btn-danger">Sign out</button>
</form>
</div>
</div>
</li>
{% endfor %}
</ul>
</div>

<h2>Your settings:</h2>
<ul>
<li>Primary phone number: {{ user.primary_phone }} (last changed {{ user.primary_phone_refresh|timesince }} ago)</li>
{% if user.secondary_phone %}<li>Secondary phone number: {{ user.secondary_phone }} (last changed {{ user.secondary_phone_refresh|timesince }} ago)</li>{% endif %}
<li>Google Authenticator configured: {% if user.strong_authenticator_secret %}<span class="glyphicon glyphicon-ok"></span>{% if user.strong_authenticator_generated_at %}, {{ user.strong_authenticator_generated_at|timesince }} ago{% endif %}{% else %}No{% endif %}</li>
<li>Authenticate with SMS by default: {% if user.strong_always_sms %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</li>
</ul>

{% endblock %}
