{% extends "base.html" %}

{% block content %}

<h2>Your active sessions</h2>

<div class="panel panel-default">

<div class="panel-body">

<p>Here are all your active sessions. Do note that signing out does not sign out from all external services. For example, if you (or someone else) signed in to Google Apps, or to any OpenID service, those will still be valid.</p>

{% if num_sessions > 1 %}
{# only show "sign out all" if other sessions exist. #}
<p>You can also terminate all sessions, excluding this one: 
 <form method="post" action="{% url 'login_frontend.views.sessions' %}?{{ get_params }}">
  {% csrf_token %}
  <input type="hidden" name="logout" value="all">
  <button type="submit" class="btn-large btn btn-danger">Sign out all my sessions</button>
 </form>
</p>

{% endif %}
</div>

<ul class="list-group">
<li class="list-group-item"></li>
{% for detailed in sessions %}
<li class="list-group-item">
<div class="row">
<div class="col-md-9">
{% for icon in detailed.icons %}
<i class="fa fa-{{icon}}"></i>
{% endfor %}

   {% if detailed.this_session %}Right now (this session){% else %}<b><span class="tooltip-link" title="{{ detailed.session.last_seen }}">{{ detailed.session.last_seen|timesince }} ago</span></b>{% endif %}<br/>
 from <b>{{ detailed.session.remote_ip }}</b> ({{ detailed.geo }})<br>
 with <b><span class="tooltip-link" title="{{ detailed.browser.ua }}">{{ detailed.browser.get_readable_ua }}</span></b> {% if detailed.browser.save_browser %}(<span class="tooltip-link" title="You have marked this browser as 'remembered'">remembered</span>){% endif %}

<ul>
{% for login in detailed.logins %}
<li><span data-toggle="popover" 
          data-placement="bottom" 
          class="popover-link" 
          data-trigger="hover" 
          title="Details for {{ login.sso_provider }}" 
          data-content="Signing out this browser will not sign out this session.
{% if login.remote_service %}It was used to log in to '{{ login.remote_service }}'.{% endif %}
{% if login.expires_at %}Session will expire in {{ login.expires_at|timeuntil }}.{% endif %}
{% if login.expires_session %}When the browser is closed, the session is automatically destroyed.{% endif %}
"
    >{{ login.sso_provider }} {{ login.auth_timestamp|timesince }} ago</span></li>
{% empty %}
<li><span data-toggle="popover" 
          data-placement="top" 
          class="popover-link" 
          data-trigger="hover" 
          title="No unrevocable logins" 
          data-content="No unrevocable logins associated with this session. If you sign out this session, no harm can be done."
     >No unrevocable logins</span></li>
{% endfor %}
</ul>

</div>
<div class="col-md-3">
<form role="form" class="" method="post" action="{% if detailed.this_session %}{% url 'login_frontend.views.logoutview' %}{% else %}{% url 'login_frontend.views.sessions' %}{% endif %}?{{ get_params }}">
{% csrf_token %}
<input type="hidden" name="logout" value="{{ detailed.browser.bid_public }}">
<button type="submit" class="btn-sm btn btn-danger">Sign out</button>
</form>
</div>
</div>
</li>
{% endfor %}
</ul>
</div>

{% endblock %}
