{% extends "base.html" %}

{% block container %}

<h2>CSP reports</h2>

<p>This page shows Content Security Policy violations your browser has reported. For more information, see <a href="http://en.wikipedia.org/wiki/Content_Security_Policy">wikipedia</a>, <a href="http://www.w3.org/TR/CSP/">W3C</a> and <a href="http://www.html5rocks.com/en/tutorials/security/content-security-policy/">html5rocks</a>.</p>

<p>The CSP policy of this site forbids external resources and inline scripts and styles. Many browser extensions inject additional styles and scripts to the page, thus 
causing policy violation. Usually this does not matter. If you use password manager that does not work on this site, please check whether they support disabling 
customizing styles. With 1Password, go to "Preferences > Browser" and disable "Animate form filling".</p>

{% if entries %}
{% if entries.pagerange %}
<ul class="pagination">
 {% if entries.has_previous %}
 <li><a href="?page={{ entries.previous_page_number }}">&laquo; Newer</a></li>
 {% else %}
 <li class="disabled"><a href="#">&laquo; Newer</a></li>
 {% endif %}
 {% for page in entries.pagerange %}
 <li{% if entries.number == page %} class="active"{% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
 {% endfor %}

 {% if entries.has_next %}
 <li><a href="?page={{ entries.next_page_number }}">Older &raquo;</a></li>
 {% else %}
 <li class="disabled"><a href="#">Older &raquo;</a></li>
 {% endif %}
</ul>
{% endif %}


<table class="table table-striped table-responsive">
<thead>
<tr>
<th>First seen</th>
<th>Browser</th>
<th>Violation</th>
<th>Blocked address</th>
<th>Source page</th>
</tr>
</thead>
{% for entry in entries %}
<tr>
  <td><span class="tooltip-link" title="{{ entry.reported_at }}">{{ entry.reported_at|timesince }} ago</span></td>
  <td>{% if entry.browser %}<a href="{% url 'login_frontend.views.view_log' entry.browser.bid_public %}">{% for icon in entry.browser.get_ua_icons %}<i class="fa fa-{{icon}}"></i>{% endfor %} {{ entry.browser.get_readable_ua }}</a>{% endif %}</td>
  <td>{{ entry.linked_source_file }}</td>
  <td>{% if entry.blocked_uri %}{{ entry.blocked_uri }}{% else %}None (browser extension){% endif %}</td>
  <td><span class="tooltip-link" title="{{ entry.document_uri }}">{{ entry.document_uri|truncatechars:"40" }}</span></td>
</tr>
{% endfor %}
</table>
{% else %}
<h3>Entries</h3>
<p>Lucky you, no reports associated with your account.</p>
{% endif %}
{% endblock %}
