{% extends "admin_frontend/admin_base.html" %}

{% block admin_content %}

<div class="row">
<div class="col-md-4">
<h2><a href="{% url 'admin_frontend.views.admin_users' %}">Users</a></h2>

<p>There's {{ users }} user{{ users|pluralize }}. {{ num_strong_configured }} have configured strong authentication.</p>
</div>

<div class="col-md-4">
<h2><a href="{% url 'admin_frontend.views.admin_logins' %}">Logins</a></h2>

<p>{{ active_logins }} active SSO authorization{{ active_logins|pluralize }}. Last 10 logins:</p>

<ul>
{% for alogin in last_logins %}
<li><a href="{% url 'admin_frontend.views.admin_userdetails' alogin.user.username %}">{{ alogin.user.username }}</a> with {{ alogin.sso_provider }} <span class="tooltip-link" title="{{ alogin.auth_timestamp }}">{{ alogin.auth_timestamp|timesince }} ago</span></li>
{% endfor %}
</ul>

</div>

<div class="col-md-4">
<h2><a href="{% url 'admin_frontend.views.admin_browsers' %}">Browsers</a></h2>

<p>{{ browsers }} browser{{ browsers|pluralize }}. Browsers with currently active users:</p>

<ul>
{% for abrowser in active_browsers %}
<li><a href="{% url 'admin_frontend.views.admin_userdetails' abrowser.user.username %}">{{ abrowser.user.username }}</a> - <a href="{% url "browser_logs" abrowser.bid_public %}">{{ abrowser.get_readable_ua }}</a></li>
{% endfor %}
</ul>

</div>
</div>

<p>Do note that almost all pages under this admin section contain private data, including IP addresses. All actions - including viewing entries - in admin pages are logged. Expect these logs to be available for others too.</p>

<p>Only following users can access this admin section: 
{% for admin in admins %}
{% if not forloop.first %} - {% endif %}
{{ admin.username }}{% endfor %}. 
{% endblock %}
