{% extends "admin_frontend/base.html" %}

{% block title %}Admin - {{ auser.username }} - {% endblock %}
{% block admin_content %}

<h2>Details for {{ duser.first_name }} {{ duser.last_name }} ({{ auser.username }})</h2>

<p>

<form class="inline-block" role="form" method="post" action="?">{% csrf_token %}
<button name="refresh" value="yes" type="submit" class="btn btn-primary">Refresh from FUM/LDAP</button>
</form>

<form role="form" class="inline-block" method="post" action="?">{% csrf_token %}
<span class="tooltip-link" title="This will revoke Authenticator configuration and terminate all sessions for this user."><button name="revoke" value="yes" type="submit" class="btn btn-danger">Revoke Authenticator and sign out</button></span>
</form>

<form role="form" class="inline-block" method="post" action="?">{% csrf_token %}
<span class="tooltip-link" title="This will terminate all sessions for this user"><button name="signout" value="yes" type="submit" class="btn btn-danger">Sign out all browsers</button></span>
</form>

</p>

<table class="table table-striped table-responsive">
<tbody>
<tr>
<th>Username</th>
<td>{{ auser.username }}</td>
</tr>

<tr>
<th>First name</th>
<td>{{ duser.first_name }}</td>
</tr>

<tr>
<th>Last name</th>
<td>{{ duser.last_name }}</td>
</tr>

<tr>
<th>email</th>
<td>{{ auser.email }}</td>
</tr>

<tr>
<th>Primary phone number</th>
<td>{{ auser.primary_phone }} {% if auser.primary_phone %} - last changed {% include "snippets/timestamp.html" with timestamp=auser.primary_phone_refresh %}{% endif %}</td>
</tr>

<tr>
<th>Secondary phone number</th>
<td>{{ auser.secondary_phone }} {% if auser.secondary_phone %} - last changed {% include "snippets/timestamp.html" with timestamp=auser.secondary_phone_refresh %}{% endif %}</td>
</tr>

<tr>
<th>Strong authentication configured</th>
<td>{{ auser.strong_configured }}</td>
</tr>

<tr>
<th>Strong authentication skips available</th>
<td>{{ auser.strong_skips_available }}</td>
</tr>

<tr>
<th>Yubikey public UID</th>
<td>{{ auser.yubikey.public_uid }}</td>
</tr>

<tr>
<th>Legacy mode</th>
<td>{{ auser.emulate_legacy }}</td>
</tr>

<tr>
<th>User aliases</th>
<td>{% for alias in user_aliases %}{{ alias }} {% if not forloop.last %} - {% endif %}{% endfor %}</td>
</tr>

<tr>
    <th>Password expires</th>
    <td>{% include "snippets/timestamp.html" with timestamp=auser.password_expires %}</td>
</tr>

<tr>
    <th>Password changed</th>
    <td>{% include "snippets/timestamp.html" with timestamp=auser.password_changed %}</td>
</tr>

<tr>
<th>Authenticator configured</th>
<td>{% if auser.strong_authenticator_generated_at %}{% include "snippets/timestamp.html" with timestamp=auser.strong_authenticator_generated_at %}{% else %}No{% endif %}</td>
</tr>

<tr>
<th><span class="tooltip-link" title="True, if Authenticator have been used successfully after previous reconfiguration">Authenticator used</span></th>
<td>{{ auser.strong_authenticator_used }}</td>
</tr>

<tr>
<th><span class="tooltip-link" title="True, if user has requested SMS authentication by default.">Always use SMS</span></th>
<td>{{ auser.strong_sms_always }}</td>
</tr>

<tr>
<th><span class="tooltip-link" title="True if user's strong authentication configuration was automatically revoked after primary phone was changed">Primary phone changed</span></th>
<td>{{ auser.primary_phone_changed }}</td>
</tr>

<tr>
    <th>Emergency codes</th>
    <td>{% if auser.get_emergency_codes.valid %}Generated and downloaded {% include "snippets/timestamp.html" with timestamp=auser.get_emergency_codes.downloaded_at %}.
        {{ auser.get_emergency_codes.codes_left }} left.
        {% else %}
        {% if not auser.get_emergency_codes %}Never generated.{% else %}
        Generated but not downloaded ({% include "snippets/timestamp.html" with timestamp=auser.get_emergency_codes.generated_at %}).
        {% endif %}. {% endif %}</td>
</tr>

<tr>
<th><span class="tooltip-link" title="Only available after using pubtkt">pubtkt tokens</span></th>
<td>{{ auser.user_tokens }}</td>
</tr>
</tbody>
</table>


<h2>Browsers</h2>

{% include "admin_frontend/snippets/list_browsers.html" with entries=browsers %}

<h2>Logins</h2>

{% include "admin_frontend/snippets/list_logins.html" with entries=logins %}

<h2>Log entries</h2>

<p><a class="btn btn-info" href="{% url 'user_logs' auser.username %}">View all</a></p>

{% include "admin_frontend/snippets/list_logs.html" %}

{% endblock %}
