.inline-block {
 display: inline-block;
}

.masthead {
 margin-bottom: 10px;
}
.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #777;
  text-align: center;
  background-color: #e5e5e5; /* Old browsers */
  background-image:    -moz-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* Chrome 10+,Safari 5.1+ */
  background-image:      -o-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

.container-wide {
 padding-right: 40px;
 padding-left: 40px;
}

.data-container {
 padding-top: 80px;
 padding-bottom: 80px;
}
.navbar-fixed-top-custom {
 border-color: #e7e7e7;
 background-color: #ffffff;
 opacity: 0.95;
}

html {
  min-height: 100%;
  height: auto;
}

body {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #ffffff;
  background-image: url('../img/futurice-splash.png');
  background-position: center bottom;
  background-repeat: no-repeat;
}

.logo {
	margin: 20px auto;
	display: block;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.info-boxes {
  max-width: 500px;
/*  padding: 19px 29px 29px;*/
  margin: 0 auto 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
}

.form-signin button {
	width: 140px;
	margin: 25px auto;
	display: block;
	color: #ffffff;
	background-color: #4a8a1b;
  background-image: -moz-linear-gradient(top, #629f2b, #2e7206);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#629f2b), to(#2e7206));
  background-image: -webkit-linear-gradient(top, #629f2b, #2e7206);
  background-image: -o-linear-gradient(top, #629f2b, #2e7206);
  background-image: linear-gradient(to bottom, #629f2b, #2e7206);
  border-color: #2b6d05;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff629f2b', endColorstr='#ff2e7206', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  text-shadow: 0 -1px 0 #385f19;
}

.form-signin button:hover,
.form-signin button:active,
.form-signin button.active,
.form-signin button.disabled,
.form-signin button[disabled] {
  color: #ffffff;
  background-color: #2e7206;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
  width: 100%;
  max-width: 190px;
  min-width: 140px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.logout-alert {
  background-color: transparent;
  color: #222;
  text-align: center;
  min-width: 160px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
  border: 0;
}

.logout-alert input {
  margin-top: 30px;
}

.username {
  color: #4c9018;
  font-weight: bold;
  font-size: 16pt;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 767px) { 
  body {
    padding-top: 0;
    padding-bottom: 0;
  }

  .logout-alert {
    padding-top: 12px;
  }
}
