{% extends "login_frontend/errors/base.html" %}

{% block content %}

{% if ratelimit %}
<h1>Oops. You probably shouldn't make that many requests</h1>

<p>You're on hold for excessive flooding. If it wasn't you, it might be someone else from the same IP address or network. Please try again after a few seconds. If this still does not work, please contact IT team.</p>

{% else %}
<h1>Oops. Unauthorized</h1>

<p>You're not allowed to access this page.</p>

{% endif %}
<p>If you think this is an error, please send email to <a href="mailto:{{ admin_email }}">{{ admin_email }}</a> and explain what happened (or you can use <a href="{% url 'login_frontend.views.report_problem'%}">this page</a>). {% if browser_public_bid %}Mentioning <strong>{{ browser_public_bid }}</strong> helps with solving the issue.{% endif %}</p>

<p>You can continue to <a href="{% url 'login_frontend.views.indexview' %}">front page</a>.</p>

{% endblock %}
