{% extends "login_frontend/errors/base.html" %}

{% block content %}

<h1>Oops. Unauthorized</h1>

<p>You're not allowed to access this page. This might be ratelimit to prevent flooding the server with excess amount of requests. If that is the case, please try again shortly.</p>

<p>If you think this is an error, please explain what happened. {% if browser_public_bid %}Mentioning <b>{{ browser_public_bid }}</b> helps with solving the issue.{% endif %}</p>

<p>You can continue to <a href="{% url 'login_frontend.views.indexview' %}">front page</a>.</p>

{% endblock %}
