{% extends "saml2idp/base.html" %}

{% block header %}
{% if vulnerability.priority != "mandatory" %}
    <script src="/static/js/saml.js" type="text/javascript"></script>
{% endif %}
{% endblock %}
{% block content %}
{% if vulnerability.priority == "mandatory" %}

{% include "login_frontend/snippets/vulnerable_browser_long.html" %}

{% else %}

<div class="alert alert-success">
You're now signed in. Redirecting...
</div>

<p>You're being automatically redirected back to service you tried to access. This might take a few seconds. If nothing happens, you can try to retry by clicking "Continue" below.</p>

{% endif %}

<form id="logged_in_post_form" method="post" action="{{ acs_url }}">
    <input type="hidden" name="RelayState" value="{{ relay_state }}" />
    <input type="hidden" name="SAMLResponse" value="{{ saml_response }}" />
    <input id="logged_in_button_continue" class="btn btn-primary" type="submit" value="Continue" />
</form>
{% endblock content %}
