{% extends "saml2idp/base.html" %}
{% block content %}
<div class="alert alert-warning">
No sign-in request available - unable to continue.
</div>

<p>This is terrible, but sign-in request is not available (anymore?). Please open the service you tried to access again, and you'll be redirected back to here.</p>

<p>This might be caused by clicking browser back button at the wrong time. Unfortunately, sign-in process breaks if you go back after certain steps.</p>

<p><a class="btn btn-primary" href="{% url "login_frontend.views.indexview" %}">Onwards</a></p>
{% endblock %}
