{% if not browser_name %}
  <div class="form-group control-group">
    <label for="id_name" control-label" class="tooltip-link" title="If you want to, you can add a custom name for this browser. This is optional.">Browser name (optional)</label>
    <input class="form-control" id="id_name" placeholder="e.g Work laptop" title="You should enter 6-digit one-time password here." name="name" type="text" {% if browser_name_value %}value="{{ browser_name_value }}" {% endif %}/>
    <span class="glyphicon form-control-feedback"></span>
  </div>
{% endif %}
