<dl class="dl-horizontal">
{% if entry.uptime_sec %}
 <dt>Uptime guess</dt>
 <dd>{{ entry.get_readable_uptime }} (modulo {{ entry.up_mod_days }} day{{ entry.up_mod_days|pluralize }})</dd>
{% endif %}
{% if entry.link_type %}
 <dt>Link type</dt>
 <dd>{{ entry.link_type }}</dd>
{% endif %}
{% if entry.distance > -1 %}
 <dt>Network distance</dt>
 <dd>{{ entry.distance }} hop{{ entry.distance|pluralize }}</dd>
{% endif %}
 <dt>Connections</dt>
 <dd>{{ entry.total_conn }}</dd>
 <dt>OS (guess)</dt>
 <dd>{% if entry.os_name %}{{ entry.os_name }} {% if entry.os_flavor %}{{ entry.os_flavor }}{% endif %}{% else %}?{% endif %}</dd>
</dl>
