{% extends "base.html" %}


{% block container %}
      <div class="masthead">
        <ul class="nav nav-justified">
          <li><a href="{% url 'admin_frontend.views.admin_indexview' %}">Main</a></li>
          <li><a href="{% url 'admin_frontend.views.admin_users' %}">Users</a></li>
          <li><a href="{% url 'admin_frontend.views.admin_logins' %}">Logins</a></li>
          <li><a href="{% url 'admin_frontend.views.admin_browsers' %}">Browsers</a></li>
          <li><a href="{% url 'admin_frontend.views.admin_logs' %}">Logs</a></li>
        </ul>
      </div>

{% block admin_content %}

{% endblock %}
{% endblock %}
